<div class="main">
  <div class="header_about">
    <div class="header_about_text">
      <!--<div class="header_about_text_back">-->
        <!--<div class="header_about_text_back_arrow"></div>-->
        <!--<a routerLink="/corners"><div class="header_about_text_back_text">Вернутся к списку ресторанов</div></a>-->
      <!--</div>-->
      <div class="header_about_text_title" >
        <div class="header_about_text_title_text">{{restaurant_list_current.Name}}</div>
        <app-restaurant-block-footer [tags]="restaurant_list_current.Tags"></app-restaurant-block-footer>

      </div>
      <div class="header_about_text_main-text">
        {{restaurant_list_current.Description}}
      </div>
      <div class="header_about_text_title_instatags" (mouseleave)="show_bg=false;">

        <!--<div class="header_about_text_title_instatags_tag"><a href="https://www.instagram.com/explore/tags/гастромаркетвокругсвета/" target="_blank">#едиммясо</a></div>-->
        <!--<div class="header_about_text_title_instatags_tag"><a href="https://www.instagram.com/explore/tags/гастромаркетвокругсвета/" target="_blank">#булочкавкусная</a></div>-->
        <div class="header_about_text_title_icon-share" (mouseover)="showSharing()"></div>
        <div class="header_about_text_title_icon-share-hover" *ngIf="show_bg==true;"><!--*ngIf="show_bg==true;"-->
          <div class="header_about_text_title_icon-share-hover_fb"><share-button #share_btn_fb [theme]="'custom'"  [button]="'facebook'" [url]="" [autoSetMeta]="false"></share-button></div>
          <div class="header_about_text_title_icon-share-hover_vk"><share-button #share_btn_vk [theme]="'custom'"  [button]="'vk'" [url]="" [autoSetMeta]="false"></share-button></div>
          <div class="header_about_text_title_icon-share-hover_tw"><share-button #share_btn_tw [theme]="'custom'"  [button]="'twitter'" [url]="" [autoSetMeta]="false"></share-button></div>
          <div class="header_about_text_title_icon-share-hover_email"><share-button #share_btn_email [theme]="'custom'"  [button]="'email'" [url]="" [autoSetMeta]="false"></share-button></div>

        </div>
        <div class="header_about_text_title_icon-share-hover_background"  *ngIf="show_bg==true;"></div><!--*ngIf="show_bg==true;"-->
        <div class="header_about_text_title_instatags_icon"></div>
        <div class="header_about_text_title_instatags_tag" *ngFor="let tag of restaurant_list_current.InstaTags"><a href="https://www.instagram.com/explore/tags/{{tag.Name}}" target="_blank">#{{tag.Name}}</a></div>
      </div>

    </div>
    <div class="header_about_img">
      <img src="{{restaurant_list_current.Picture}}">
      <div class="header_about_img_angle"></div>
    </div>
  </div>
  <div class="header_about_mobile">
    <div class="header_about_text_back">
      <div class="header_about_text_back_arrow"></div>
      <a routerLink="/corners"><div class="header_about_text_back_text">Список ресторанов</div></a>
    </div>
    <div class="header_about_mobile_info">
      <div class="header_about_mobile_info_img">
        <img src="app/sass/images/restaurants-main_mobile.png">
      </div>
      <div class="header_about_mobile_info_text">
        <div class="header_about_mobile_info_text_title">{{restaurant_list_current.Name}}</div>
        <div class="header_about_mobile_info_text_more">Подробнее о ресторане</div>
      </div>
    </div>
  </div>
  <div #submenu class="menu_tabs_dishes" style="position: absolute;z-index: 8">
    <div style="overflow: hidden;height: 100%;display: flex;flex-direction: row;align-items: center;    width: 100%;">
    <div #submenuDropdawn class="menu_tabs_dishes_dropdown">
      <div #nav #dishes_dropdown class="menu_tabs_dishes_dropdown_submenu">
        <ul *ngFor="let item of restaurant_list_menu; let i= index">
          <li [class.active]="to_cregory[item.Number]" [ngx-scroll-to]="'#cat_'+item.Number" [ngx-scroll-to-offset]="scroll_to" (click)="goToCategory(item.Number)">{{item.Name}}</li>
        </ul>
      </div>
    </div>
    </div>
    <!--<div class="menu_tabs_dishes_dropdown" (click)="showDishes()">-->
      <!--<ul>-->
        <!--<li>Категории</li>-->
        <!--<div [hidden]="!show_dishes" class="menu_tabs_dishes_dropdown_submenu">-->
          <!--<ul *ngFor="let item of restaurant_list_menu">-->
            <!--<li (click)="goToCategory(item.Number)">{{item.Name}}</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</ul>-->
      <!--<div class="menu_tabs_dishes_dropdown_arrow"></div>-->
    <!--</div>-->
    <app-search-block [hidden]="false"></app-search-block>
    <!--<div #submenuBlock class="menu-tabs_all_phone" style="position: absolute;right: 50px;padding-top: 27px"></div>-->
    <!--<div class="menu-tabs_all_phone-text" style="right: 82px"><span>Доставка: </span>+7 495 967 7777</div>-->
  </div>
  <div #dishesContent class="dishes_content">
    <div class="dishes_content_menu">
      <div class="dishes_content_menu_blocks" id="cat_{{item.Number}}" *ngFor="let item of restaurant_list_menu, let i = index ">
        <div #category class="dishes_content_menu_blocks_title">{{item.Name}}</div>
        <div #blockWrapper class="dishes_content_menu_blocks_wrapper" id="{{item.Number}}">
          <app-dish-block [restaurant_id]="restaurant_id" [menu_list]="item.MenuItems" [_parent]="this"></app-dish-block> <!--[ngStyle]="{'justify-content': 'unset'}"-->
            <div  #bucketBlock *ngIf="i == 0 && show_bucket" class="dishes_content_menu_bucket" >
              <!--<div *ngIf="!other_rest" class="dishes_content_menu_bucket_title">-->
                <!--В корзине {{dishes_arr.length}} шт.-->
              <!--</div>-->
              <div class="dishes_content_menu_bucket_title">
                В корзине {{arr_bucket_length}} шт.
              </div>
              <!--<div  *ngIf="!other_rest" #bucketItem class="dishes_content_menu_bucket_items" (scroll)="scroll()">-->
                <!--<div class="dishes_content_menu_bucket_items_item_head">{{restaurant_name}}</div>-->
                <!--<div *ngFor="let item of dishes_arr" class="dishes_content_menu_bucket_items_item" id="{{item.id}}">-->
                  <!--&lt;!&ndash;<div class="dishes_content_menu_bucket_items_item_head">{{restaurant_name}}</div>&ndash;&gt;-->
                  <!--<div class="dishes_content_menu_bucket_items_item_title">{{item.name}}</div>-->
                  <!--<div class="dishes_content_menu_bucket_items_item_content">-->
                    <!--<div class="dishes_content_menu_bucket_items_item_content_count">-->
                      <!--<div class="dishes_content_menu_bucket_items_item_content_count_wrapper" (click)="removeItem(item.id,item.Modifiers.length!=0?item.Modifiers[0].Code:'')"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_remove" ></div></div>-->
                      <!--<div class="dishes_content_menu_bucket_items_item_content_count_text"><span>{{item.quantity}}</span>шт</div>-->
                      <!--<div class="dishes_content_menu_bucket_items_item_content_count_wrapper" (click)="addItem(item.id,item.Modifiers.length!=0?item.Modifiers[0].Code:'')"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_add" ></div></div>-->
                    <!--</div>-->
                    <!--<div class="dishes_content_menu_bucket_items_item_content_price"><span>{{item.quantity_price}} руб.</span></div>-->
                  <!--</div>-->
                  <!--<div class="dishes_content_menu_bucket_items_item_content_count" *ngFor="let mod of item.Modifiers">-->
                    <!--<div class="dishes_content_menu_bucket_items_item_content_count_wrapper"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_add" ></div></div>-->
                    <!--<div class="dishes_content_menu_bucket_items_item_content_count_text"><span>{{mod.Name}}</span></div>-->
                    <!--<div class="dishes_content_menu_bucket_items_item_content_count_text" *ngIf="mod.Price==0"><span>Бесплатно</span></div>-->
                    <!--<div class="dishes_content_menu_bucket_items_item_content_count_text" *ngIf="mod.Price>0"><span>{{mod.Price}}</span></div>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--&lt;!&ndash;<div *ngFor="let item of item.arr_buket">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div>{{item.rest_name}}</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div *ngIf="other_rest">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div *ngFor="let dishes of values">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="dishes_content_menu_bucket_items_item_head">{{dishes.rest_name}}</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div  *ngFor="let dish of dishes.items" class="dishes_content_menu_bucket_items_item" id="{{dish.id}}">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="dishes_content_menu_bucket_items_item_title">{{dish.name}}</div>&ndash;&gt;-->

                    <!--&lt;!&ndash;<div class="dishes_content_menu_bucket_items_item_content">&ndash;&gt;-->
                      <!--&lt;!&ndash;<div class="dishes_content_menu_bucket_items_item_content_count">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="dishes_content_menu_bucket_items_item_content_count_wrapper" (click)="removeItem(dish.id)"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_remove" ></div></div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="dishes_content_menu_bucket_items_item_content_count_text"><span>{{item.quantity}}</span>шт</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="dishes_content_menu_bucket_items_item_content_count_wrapper" (click)="addItem(dish.id)"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_add" ></div></div>&ndash;&gt;-->
                      <!--&lt;!&ndash;</div>&ndash;&gt;-->
                      <!--&lt;!&ndash;<div class="dishes_content_menu_bucket_items_item_content_price"><span>{{item.quantity_price}} руб.</span></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div *ngFor="let mod of item.Modifiers">{{mod.Name}},{{mod.Price}}</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<div *ngIf="subs" class="subs"></div>-->
              <!--</div>-->
              <div #bucketItem class="dishes_content_menu_bucket_items" #bucketItemOther (scroll)="scroll()">
                <!--<div class="dishes_content_menu_bucket_items_item_head">{{restaurant_name}}</div>-->
                <!--<div *ngFor="let dishes of dishes_arr" class="dishes_content_menu_bucket_items_item" id="{{dishes.id}}">-->
                  <!--<div class="dishes_content_menu_bucket_items_item_head">{{dishes.arr_buket.rest_name}}</div>-->
                  <!--<div *ngFor="let dish of dishes.arr_buket.items">-->
                  <!--<div class="dishes_content_menu_bucket_items_item_title">{{dish.name}}</div>-->
                  <!--<div class="dishes_content_menu_bucket_items_item_content">-->
                    <!--<div class="dishes_content_menu_bucket_items_item_content_count">-->
                      <!--<div class="dishes_content_menu_bucket_items_item_content_count_wrapper" (click)="removeItem(dish.id)"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_remove" ></div></div>-->
                      <!--<div class="dishes_content_menu_bucket_items_item_content_count_text"><span>{{dishes.quantity}}</span>шт</div>-->
                      <!--<div class="dishes_content_menu_bucket_items_item_content_count_wrapper" (click)="addItem(dish.id)"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_add" ></div></div>-->
                    <!--</div>-->
                    <!--<div class="dishes_content_menu_bucket_items_item_content_price"><span>{{dishes.quantity_price}} руб.</span></div>-->
                  <!--</div>-->
                  <!--<div *ngFor="let mod of item.Modifiers">{{mod.Name}},{{mod.Price}}</div>-->
                <!--</div>-->
                <!--</div>-->
                <div *ngFor="let key of orderService.order_arr_bucket_keys"  class="dishes_content_menu_bucket_items_item" id="{{key}}">
                  <div class="dishes_content_menu_bucket_items_item_head">{{orderService.order_arr_bucket[key].rest_name}}</div>
                  <div #bucketItemOther *ngFor="let dish of orderService.order_arr_bucket[key].items">
                  <div class="dishes_content_menu_bucket_items_item_title">{{dish.name}}</div>
                  <div class="dishes_content_menu_bucket_items_item_content">
                    <div class="dishes_content_menu_bucket_items_item_content_count">
                      <div class="dishes_content_menu_bucket_items_item_content_count_wrapper" (click)="removeItem(dish.id,dish.Modifiers.length!=0?dish.Modifiers[0].Code:'',key)"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_remove" ></div></div>
                      <div class="dishes_content_menu_bucket_items_item_content_count_text"><span>{{dish.quantity}}</span>шт</div>
                      <div class="dishes_content_menu_bucket_items_item_content_count_wrapper" (click)="addItem(dish.id,dish.Modifiers.length!=0?dish.Modifiers[0].Code:'',key)"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_add" ></div></div>
                    </div>
                    <div class="dishes_content_menu_bucket_items_item_content_price"><span>{{dish.quantity_price}} руб.</span></div>
                  </div>
                    <div class="dishes_content_menu_bucket_items_item_content_count" *ngFor="let mod of dish.Modifiers">
                      <div class="dishes_content_menu_bucket_items_item_content_count_wrapper"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_add" ></div></div>
                      <div class="dishes_content_menu_bucket_items_item_content_count_text"><span>{{mod.Name}}</span></div>
                      <div class="dishes_content_menu_bucket_items_item_content_count_text" *ngIf="mod.Price==0"><span>Бесплатно</span></div>
                      <div class="dishes_content_menu_bucket_items_item_content_count_text" *ngIf="mod.Price>0"><span>{{mod.Price}}</span></div>
                    </div>
                </div>

                </div>
                <div *ngIf="subs" class="subs"></div>
              </div>
              <div class="dishes_content_menu_bucket_total">
                <div class="dishes_content_menu_bucket_total_text">Итого</div>
                <div class="dishes_content_menu_bucket_total_price">{{total_price}} руб.</div>
              </div>
              <div class="events_show-more" (click)="addOrder()">Оформить заказ</div>
            </div>
            <!--<div #banner *ngIf="i == 0 && !show_bucket" class="dishes_content_menu_banner">-->
              <!--<div class="dishes_content_menu_banner_text">Заказывайте еду с доставкой и делайте предзаказ</div>-->
              <!--<div class="dishes_content_menu_banner_subtext">Cамым удобным способом - -->
                <!--Через сайт или мобильное приложение!</div>-->
              <!--<div class="dishes_content_menu_banner_app">-->
                <!--<div class="dishes_content_menu_banner_app_google"></div>-->
                <!--<div class="dishes_content_menu_banner_app_apple"></div>-->
              <!--</div>-->
              <!--<div class="dishes_content_menu_banner_text_adver">Скоро!</div>-->
              <!--<img src="app/sass/images/phones_restaurants.png">-->
            <!--</div>-->
          <!--<div *ngIf="i > 0 && !show_bucket" style="width: 79%"></div>-->
          <div #banner *ngIf="i == 0 && !show_bucket" class="dishes_content_menu_banner">
            <div class="dishes_content_menu_banner_text" style="text-align: center;margin-left: 0">Заказывайте доставку по номеру<br/><p style="margin-top: 20px;"> +7 495 967 7777</p></div>
            <div class="dishes_content_menu_banner_subtext" style="text-align: center;margin-left: 0">Мобильное приложение с доставкой запустится в мае</div>
            <!--<div class="dishes_content_menu_banner_app">-->
              <!--<div class="dishes_content_menu_banner_app_google"></div>-->
              <!--<div class="dishes_content_menu_banner_app_apple"></div>-->
            <!--</div>-->
            <!--<div class="dishes_content_menu_banner_text_adver">Скоро!</div>-->
            <img src="app/sass/images/phones_restaurants.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-midifiers [hidden]="open_modifiers" [_parent]="this"></app-midifiers>


<div class="wrapper_banner busket_mob" style="display: none">
  <div class="banner_main">
    <div  #bucketBlock class="dishes_content_menu_bucket" >
      <!--<div *ngIf="!other_rest" class="dishes_content_menu_bucket_title">-->
        <!--В корзине {{dishes_arr.length}} шт.-->
      <!--</div>-->
      <!--<div class="dishes_content_menu_bucket_title">-->
        <!--В корзине {{arr_bucket_length}} шт.-->
      <!--</div>-->
      <!--<div  *ngIf="!other_rest" #bucketItem class="dishes_content_menu_bucket_items" (scroll)="scroll()">-->
        <!--<div class="dishes_content_menu_bucket_items_item_head">{{restaurant_name}}</div>-->
        <!--<div *ngFor="let item of dishes_arr" class="dishes_content_menu_bucket_items_item" id="{{item.id}}">-->
          <!--&lt;!&ndash;<div class="dishes_content_menu_bucket_items_item_head">{{restaurant_name}}</div>&ndash;&gt;-->
          <!--<div class="dishes_content_menu_bucket_items_item_title">{{item.name}}</div>-->
          <!--<div class="dishes_content_menu_bucket_items_item_content">-->
            <!--<div class="dishes_content_menu_bucket_items_item_content_count">-->
              <!--<div class="dishes_content_menu_bucket_items_item_content_count_wrapper" (click)="removeItem(item.id,item.Modifiers.length!=0?item.Modifiers[0].Code:'')"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_remove" ></div></div>-->
              <!--<div class="dishes_content_menu_bucket_items_item_content_count_text"><span>{{item.quantity}}</span>шт</div>-->
              <!--<div class="dishes_content_menu_bucket_items_item_content_count_wrapper" (click)="addItem(item.id,item.Modifiers.length!=0?item.Modifiers[0].Code:'')"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_add" ></div></div>-->
            <!--</div>-->
            <!--<div class="dishes_content_menu_bucket_items_item_content_price"><span>{{item.quantity_price}} руб.</span></div>-->
          <!--</div>-->
          <!--<div class="dishes_content_menu_bucket_items_item_content_count" *ngFor="let mod of item.Modifiers">-->
            <!--<div class="dishes_content_menu_bucket_items_item_content_count_wrapper"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_add" ></div></div>-->
            <!--<div class="dishes_content_menu_bucket_items_item_content_count_text"><span>{{mod.Name}}</span></div>-->
            <!--<div class="dishes_content_menu_bucket_items_item_content_count_text" *ngIf="mod.Price==0"><span>Бесплатно</span></div>-->
            <!--<div class="dishes_content_menu_bucket_items_item_content_count_text" *ngIf="mod.Price>0"><span>{{mod.Price}}</span></div>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div *ngFor="let item of item.arr_buket">&ndash;&gt;-->
        <!--&lt;!&ndash;<div>{{item.rest_name}}</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div *ngIf="other_rest">&ndash;&gt;-->
        <!--&lt;!&ndash;<div *ngFor="let dishes of values">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="dishes_content_menu_bucket_items_item_head">{{dishes.rest_name}}</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div  *ngFor="let dish of dishes.items" class="dishes_content_menu_bucket_items_item" id="{{dish.id}}">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="dishes_content_menu_bucket_items_item_title">{{dish.name}}</div>&ndash;&gt;-->

        <!--&lt;!&ndash;<div class="dishes_content_menu_bucket_items_item_content">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="dishes_content_menu_bucket_items_item_content_count">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="dishes_content_menu_bucket_items_item_content_count_wrapper" (click)="removeItem(dish.id)"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_remove" ></div></div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="dishes_content_menu_bucket_items_item_content_count_text"><span>{{item.quantity}}</span>шт</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="dishes_content_menu_bucket_items_item_content_count_wrapper" (click)="addItem(dish.id)"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_add" ></div></div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="dishes_content_menu_bucket_items_item_content_price"><span>{{item.quantity_price}} руб.</span></div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div *ngFor="let mod of item.Modifiers">{{mod.Name}},{{mod.Price}}</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div *ngIf="subs" class="subs"></div>-->
      <!--</div>-->
      <div class="dishes_content_menu_bucket_items" #bucketItemOther (scroll)="scroll()">
        <!--<div class="dishes_content_menu_bucket_items_item_head">{{restaurant_name}}</div>-->
        <!--<div *ngFor="let dishes of dishes_arr" class="dishes_content_menu_bucket_items_item" id="{{dishes.id}}">-->
        <!--<div class="dishes_content_menu_bucket_items_item_head">{{dishes.arr_buket.rest_name}}</div>-->
        <!--<div *ngFor="let dish of dishes.arr_buket.items">-->
        <!--<div class="dishes_content_menu_bucket_items_item_title">{{dish.name}}</div>-->
        <!--<div class="dishes_content_menu_bucket_items_item_content">-->
        <!--<div class="dishes_content_menu_bucket_items_item_content_count">-->
        <!--<div class="dishes_content_menu_bucket_items_item_content_count_wrapper" (click)="removeItem(dish.id)"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_remove" ></div></div>-->
        <!--<div class="dishes_content_menu_bucket_items_item_content_count_text"><span>{{dishes.quantity}}</span>шт</div>-->
        <!--<div class="dishes_content_menu_bucket_items_item_content_count_wrapper" (click)="addItem(dish.id)"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_add" ></div></div>-->
        <!--</div>-->
        <!--<div class="dishes_content_menu_bucket_items_item_content_price"><span>{{dishes.quantity_price}} руб.</span></div>-->
        <!--</div>-->
        <!--<div *ngFor="let mod of item.Modifiers">{{mod.Name}},{{mod.Price}}</div>-->
        <!--</div>-->
        <!--</div>-->
        <div *ngFor="let key of orderService.order_arr_bucket_keys"  class="dishes_content_menu_bucket_items_item" id="{{key}}">
          <div class="dishes_content_menu_bucket_items_item_head">{{orderService.order_arr_bucket[key].rest_name}}</div>
          <div #bucketItemOther *ngFor="let dish of orderService.order_arr_bucket[key].items">
            <div class="dishes_content_menu_bucket_items_item_title">{{dish.name}}</div>
            <div class="dishes_content_menu_bucket_items_item_content">
              <div class="dishes_content_menu_bucket_items_item_content_count">
                <div class="dishes_content_menu_bucket_items_item_content_count_wrapper" (click)="removeItem(dish.id,dish.Modifiers.length!=0?dish.Modifiers[0].Code:'',key)"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_remove" ></div></div>
                <div class="dishes_content_menu_bucket_items_item_content_count_text"><span>{{dish.quantity}}</span>шт</div>
                <div class="dishes_content_menu_bucket_items_item_content_count_wrapper" (click)="addItem(dish.id,dish.Modifiers.length!=0?dish.Modifiers[0].Code:'',key)"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_add" ></div></div>
              </div>
              <div class="dishes_content_menu_bucket_items_item_content_price"><span>{{dish.quantity_price}} руб.</span></div>
            </div>
            <div class="dishes_content_menu_bucket_items_item_content_count" *ngFor="let mod of dish.Modifiers">
              <div class="dishes_content_menu_bucket_items_item_content_count_wrapper"><div class="dishes_content_menu_bucket_items_item_content_count_wrapper_add" ></div></div>
              <div class="dishes_content_menu_bucket_items_item_content_count_text"><span>{{mod.Name}}</span></div>
              <div class="dishes_content_menu_bucket_items_item_content_count_text" *ngIf="mod.Price==0"><span>Бесплатно</span></div>
              <div class="dishes_content_menu_bucket_items_item_content_count_text" *ngIf="mod.Price>0"><span>{{mod.Price}}</span></div>
            </div>
          </div>

        </div>
        <div *ngIf="subs" class="subs"></div>
      </div>
      <div class="dishes_content_menu_bucket_total">
        <div class="dishes_content_menu_bucket_total_text">Итого</div>
        <div class="dishes_content_menu_bucket_total_price">{{total_price}} руб.</div>
      </div>
      <div class="events_show-more" (click)="addOrder()">Оформить заказ</div>
    </div>
    <div class="banner_main_close" (click)="closeEvent()">
      <div class="banner_main_close_icon"></div>
    </div>
  </div>
  <div class="overlay"></div>
</div>

