@import "variables";

.main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  @media screen and (max-width: 1023px) {
    width: 100%;
  }
  .slider {
    padding: 0 20px;
    position: relative;
    @media screen and(min-width: 768px)and (max-width: 1023px) {
      padding: 0;
      width: 100%;
      //max-width: 944px;
      height: 490px;
    }
    @media screen and (max-width: 416px) {
      //padding: 0;
      //width: 100%;
      ////max-width: 944px;
      height: 188px;
      padding: 0;
    }
    @media screen and (min-width: 416px) and (max-width: 767px){
      //padding: 0;
      //width: 100%;
      ////max-width: 944px;
      height: 330px;
      padding: 0;
    }
    .owl-carousel {
      z-index: 0;
      height: 100%;
      .owl-nav {

        .owl-prev {
          background: url(../images/array.png) no-repeat;
          position: absolute;
          top: 0;
          left: 0;
          width: 50px;
          height: 100%;
          background-position-y: center;
          background-position-x: center;
        }
        .owl-next {
          background: url(../images/array.png) no-repeat;
          position: absolute;
          top: 0;
          right: 0;
          width: 50px;
          height: 100%;
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          background-position: center center;
        }
      }
      .item {
        cursor: pointer;
        @media screen and (max-width: 1023px) {
          width: 100%;
          height: 100%;
        }
        img {
          //width: 100%;
          display: block;
          width: 100%;
          @media screen and (max-width: 1023px) {
            height: 100%;
          }
        }
      }
    }
    .owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
      -ms-touch-action: auto;
      touch-action: auto;
      height: 100%;
    }
    .owl-stage-outer {
      height: 100%;
      @media screen and (max-width: 1024px) {
      //display: none;
      }
    }
    .owl-stage {
      height: 100%;
    }
    &-footer {
      display: flex;
      flex-direction: row;
      position: relative;
      padding: 0 40px;
      @media screen and (max-width: 1023px) {
        width: 100%;
        padding: 0;
        height: 85px;
      }
      &_delivery {
        height: 170px;
        width: 600px;
        background-color: #F7F6F2;
        padding-bottom: 10px;
        font-family: $font_ubuntu;
        position: relative;

        a {
          text-decoration: none;
        }
        @media screen and (max-width: 1024px) {
          width: 50%;
          height: auto;
          padding: 5% 0;
          background-color: #F7F6F2;
        }
        &_main-text {
          color: #EBE8DD;
          font-size: 90px;
          font-weight: bold;
          line-height: 90px;
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @media screen and (max-width: 1024px) {
            font-size: 24px;
            line-height: 24px;
          }
        }
        &_secondary-text {
          position: absolute;
          top: 57%;
          left: 50%;
          transform: translate(-50%, -57%);
          width: 287px;
          color: #231F20;
          font-size: 18px;
          line-height: 24px;
          text-align: center;
          @media screen and (max-width: 1024px) {
            font-size: 12px;
            line-height: 18px;
            width: 120px;
            //position: relative;
            z-index: 5;
          }
        }
        &_secondary-text_preorder {
          position: absolute;
          top: 57%;
          left: 50%;
          transform: translate(-50%, -57%);
          width: 227px;
          color: #231F20;
          font-size: 18px;
          line-height: 24px;
          text-align: center;
          @media screen and (max-width: 1024px) {
            font-size: 12px;
            line-height: 18px;
            width: 120px;
            //position: relative;
            z-index: 5;
          }
        }
        &_moreinfo-text {
          display: flex;
          width: auto;
          align-items: center;
          top: 90%;
          position: absolute;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          @media screen and (max-width: 1024px) {
            display: none;
          }
          &_left-dash, &_right-dash {
            height: 2px;
            width: 21px;
            background-color: #CBBC9D;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
          }
          &_text {
            margin: 0 10px;
            color: #231F20;
            font-size: 16px;
            font-weight: bold;
            line-height: 16px;
            text-align: center;
            text-transform: uppercase;

            a {
              text-decoration: none;
              color: inherit;
            }
          }
        }
        &_img {
          position: absolute;
          bottom: 0;
          right: 65px;
          @media screen and (max-width: 1024px) {
            right: 50%;
            transform: translateX(50%);
            width: 80px;
            z-index: 0;
            img {
              width: 80px;
            }
          }
          &_right {
            position: absolute;
            top: 0;
            right: 133px;
            @media screen and (max-width: 1024px) {
              right: 50%;
              transform: translateX(50%);
              width: 80px;
              z-index: 0;
              img {
                width: 80px;
              }
            }
          }
        }
      }
      &_rectangle {
        background: url(../images/Rectangle2.png) no-repeat;
        height: 2px;
        width: 101px;
        transform: rotate(135deg);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 50%;
        left: 46%;
        @media screen and (max-width: 1024px) {
          //display: none;
          left: 47%;
          width: 28px;
        }
      }
    }
  }
  .main_map {
    padding: 40px 40px 0;
    position: relative;
    @media screen and (max-width: 1024px) {
      padding: 0;
      margin-top: 40px;
    }
    &_buttons {
      position: absolute;
      width: 187px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      top: 50%;
      left: 40px;
      transform: translateY(-50%);
      font-family: $font_ubuntu;
      @media screen and (max-width: 1024px) {
        position: absolute;
        top: 20px;
        left: 0;
        flex-direction: row;
        justify-content: space-between;
        width: calc(100% - 30px);
        height: 40px;
        background-color: #231f20;
        padding: 0 15px;
      }
      &_button {
        margin-bottom: 10px;
        border-radius: 2px;
        cursor: pointer;
        width: 147px;
        color: #FFFFFF;
        @media screen and (max-width: 1024px) {
          margin-bottom: 0;
          border-radius: 0;
          cursor: pointer;
          width: auto;
          color: #FFFFFF;
        }
        &_text {
          padding: 12px 0 14px 20px;
          background-color: rgba(35, 31, 32, 0.8);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
          color: #FFFFFF;
          font-family: $font_ubuntu;
          font-size: 16px;
          line-height: 24px;
          font-weight: normal;
          @media screen and (max-width: 1024px) {
            padding: 14px 0 14px 15px;
            font-size: 11px;
            line-height: 11px;
          }
        }
      }
      .active {
        width: 187px;
        @media screen and (max-width: 1024px) {
          width: auto;
        }
        .main_map_buttons_button_text {
          padding: 17px 0 17px 20px;
          background-color: #FFFFFF;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
          color: #1A1718;
          @media screen and (max-width: 1024px) {
            padding: 14px 0 11px 0;
            background-color: rgba(35, 31, 32, 1);
            box-shadow: none;
            color: #BFAF8C;
            border-bottom: 4px #CBBC9D solid;
          }
        }
      }
      &_metro {
        position: absolute;
        width: 187px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 50%;
        right: 40px;
        transform: translateY(-50%);
        font-family: $font_ubuntu;
        @media screen and (max-width: 1024px) {
          position: absolute;
          top: 20px;
          left: 0;
          flex-direction: row;
          justify-content: space-between;
          width: calc(100% - 30px);
          height: 40px;
          background-color: #231f20;
          padding: 0 15px;
        }
        &_button {
          margin-bottom: 10px;
          border-radius: 2px;
          cursor: pointer;
          width: 186px;
          color: #FFFFFF;
          @media screen and (max-width: 1024px) {
            margin-bottom: 0;
            border-radius: 0;
            cursor: pointer;
            width: auto;
            color: #FFFFFF;
          }
          &_text {
            padding: 12px 0 14px 20px;
            background-color: rgba(35, 31, 32, 0.8);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
            color: #FFFFFF;
            font-family: $font_ubuntu;
            font-size: 16px;
            line-height: 24px;
            font-weight: normal;
            @media screen and (max-width: 1024px) {
              padding: 14px 0 14px 15px;
              font-size: 11px;
              line-height: 11px;
            }
          }
          //&_back {
          //  @include sp__phone;
          //}
        }
        .active {
          width: 187px;
          @media screen and (max-width: 1024px) {
            width: auto;
          }
          .main_map_buttons_button_text {
            padding: 17px 0 17px 20px;
            background-color: #FFFFFF;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
            color: #1A1718;
            @media screen and (max-width: 1024px) {
              padding: 14px 0 11px 0;
              background-color: rgba(35, 31, 32, 1);
              box-shadow: none;
              color: #BFAF8C;
              border-bottom: 4px #CBBC9D solid;
            }
          }
        }

      }

    }
  }
}

.main_content {
  background-color: #F7F6F2;
  max-width: 1280px;
  margin: 0 auto;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
  .content_corners {
    padding: 0 50px 40px;
    //margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 1024px) {
      max-width: 100%;
      width: 100%;
      padding: 0 0 30px;
      align-items: flex-start;
    }
    &_title {
      color: #231F20;
      font-family: $font_condensed;
      font-size: 30px;
      line-height: 30px;
      text-align: center;

      a {
        color: inherit;
        text-decoration: none;
      }
      @media screen and (max-width: 1024px) {
        margin: 0 20px;
        width: calc(100% - 40px);
        display: flex;
        justify-content: space-between;
      }
      &_text {
        color: #231F20;
        font-family: $font_condensed;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        margin-top: 40px;
        @media screen and (max-width: 1024px) {
          font-size: 20px;
          line-height: 20px;
          text-transform: uppercase;
        }
      }
      &_moreinfo-text-mobile {
        display: flex;
        align-items: center;
        font-family: $font_ubuntu;
        text-transform: uppercase;
        margin-top: 40px;
        cursor: pointer;
        flex-direction: row;
        a {
          color: inherit;
          text-decoration: none;
        }
        @media screen and (min-width: 1024px) {
          display: none;
        }
        &_left-dash, &_right-dash {
          height: 2px;
          width: 21px;
          background-color: #CBBC9D;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        }
        &_text {
          margin: 0 10px;
          color: #231F20;
          font-size: 12px;
          font-weight: bold;
          line-height: 12px;
          text-align: center;
        }
      }
    }
    &_items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 1200px;
      justify-content: center;
      @media screen and (max-width: 1024px) {
        //max-width: 400px;
        //margin: 0 auto;
        width: 100%;
        //.content_corners_items_item:nth-child(3) ~ .content_corners_items_item {
        //  display: none;
        //}
      }
      &_item {

        width: 380px;
        border: 1px solid #E6E3E1;
        border-radius: 0 0 4px 4px;
        background-color: #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        margin: 30px 0 0;
        position: relative;
        cursor: pointer;
        @media screen and (max-width: 1024px) {
          //width: calc(100% - 40px);
          //padding: 0;
          //margin: 20px auto 0;
        }
        &_img {
          position: relative;
          &_main {
            width: 380px;
            height: 214px;
            @media screen and (max-width: 1024px) {
              width: 100%;
              height: auto;
            }
          }
          .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        &_content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-family: $font_ubuntu;
          padding: 15px 20px 10px;
          @media screen and (max-width: 1024px) {
            padding: 10% 20px 10px;
          }
          &_name {
            color: #231F20;
            font-size: 18px;
            line-height: 21px;
          }
          &_time {
            color: #867F7B;
            font-size: 13px;
            line-height: 13px;
            padding: 4px 7px;;
            border-radius: 2px;
            background-color: #F7F6F2;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
          }
          &-kitchen {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #7F7873;
            font-size: 13px;
            line-height: 13px;
            padding: 10px 133px 20px 20px;
            align-items: center;
            font-family: $font_ubuntu;
            @media screen and (max-width: 1024px) {
              //width: 195px;
              font-size: 11px;
              line-height: 11px;
            }
            &_delimiter {
              @include sp__rectangle;
            }
          }
        }
        &-hover {
          font-family: $font_ubuntu;
          &_main {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 55px 30px 50px;
            position: absolute;
            top: 0;
            &_text {
              font-size: 18px;
              font-weight: 500;
              line-height: 20px;
              color: #FFFFFF;
              width: 319px;
            }
            &_checkin {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              color: #FFFFFF;
              margin-top: 20px;
              align-items: center;
              font-family: $font_ubuntu;
              &_item {
                background-color: #1A1718;
                padding: 5px 10px;
                margin-right: 5px;
                span {
                  color: #FFFFFF;
                  font-size: 13px;
                  line-height: 19px;
                  text-align: center;
                }
                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
      &_item-shadow {
        width: 380px;
        border: 1px solid #E6E3E1;
        border-radius: 0 0 4px 4px;
        background-color: #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        margin: 30px 0 0;
        position: relative;
        cursor: pointer;
        @media screen and (max-width: 1024px) {
          display: none;
        }
        &_img {
          position: relative;
          height: 214px;
          &_main {
            width: 380px;
            height: 214px;
            @media screen and (max-width: 1024px) {
              width: 100%;
              height: auto;
            }
          }
        }
        &-hover {
          font-family: $font_ubuntu;
          &_main {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 55px 30px 50px;
            position: absolute;
            top: 0;
            &_text {
              font-size: 18px;
              font-weight: 500;
              line-height: 20px;
              color: #FFFFFF;
              width: 319px;
            }
            &_checkin {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              color: #FFFFFF;
              margin-top: 20px;
              align-items: center;
              font-family: $font_ubuntu;
              &_item {
                background-color: #1A1718;
                padding: 5px 10px;
                margin-right: 5px;
                span {
                  color: #FFFFFF;
                  font-size: 13px;
                  line-height: 19px;
                  text-align: center;
                }
                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
    &_moreinfo-text {
      display: flex;
      align-items: center;
      font-family: $font_ubuntu;
      text-transform: uppercase;
      margin-top: 40px;
      cursor: pointer;
      a {
        color: inherit;
        text-decoration: none;
      }
      @media screen and (max-width: 1024px) {
        margin: 40px auto 0;
      }
      &_left-dash, &_right-dash {
        height: 2px;
        width: 21px;
        background-color: #CBBC9D;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
      }
      &_text {
        margin: 0 10px;
        color: #231F20;
        font-size: 16px;
        font-weight: bold;
        line-height: 16px;
        text-align: center;
        @media screen and (max-width: 1024px) {
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
  }
}

.main_content_events {
  background-color: #ffffff;
  max-width: 1280px;
  .content_events {
    padding: 0 30px 40px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 1024px) {
      max-width: 100%;
      width: 100%;
      padding: 0 0 30px;
      align-items: flex-start;
    }
    @media screen and (max-width: 415px) {
      //display: none;
      //padding: 40px 20px;
    }
    &_title {
      color: #231F20;
      font-family: $font_condensed;
      font-size: 30px;
      line-height: 30px;
      text-align: center;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
    &_items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
    }
    &_moreinfo-text {
      display: flex;
      align-items: center;
      font-family: $font_ubuntu;
      text-transform: uppercase;
      margin-top: 40px;
      cursor: pointer;
      a {
        color: inherit;
        text-decoration: none;
      }
      &_left-dash, &_right-dash {
        height: 2px;
        width: 21px;
        background-color: #CBBC9D;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
      }
      &_text {
        margin: 0 10px;
        color: #231F20;
        font-size: 16px;
        font-weight: bold;
        line-height: 16px;
        text-align: center;
      }
    }
  }
}

.app_content {
  position: relative;
  height: 710px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #F7F6F2;
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 100%;
    height: 444px;
    padding-bottom: 100px;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    height: 477px;
    //padding-bottom: 100px;
  }
  &_images {
    position: absolute;
    height: 710px;
    right: 0;
    bottom: 0;
    width: 100%;

    @media screen and (max-width: 1024px) {
      height: auto;
    }
    &_bg {
      width: 100%;
      height: 710px;
      position: relative;
      @media screen and (max-width: 1024px) {
        position: absolute;
        bottom: 0;
        right: 0;
        height: auto;
      }
      &-desktop {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
      &-mobile {
        display: none;
        @media screen and (max-width: 1024px) {
          display: none;
          position: absolute;
          //display: block;
          width: 80%;
          right: 0;
          bottom: 0;
        }
      }
    }
    &_phones {
      position: absolute;
      right:0;
      bottom: 0;
      width: 55%;
      @media screen and (max-width: 1024px) {
        right: 0;
        width: 100%;
      }
      &-desktop {
        display: block;
        width: 100%;
        //height: 652px;
        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
      &-mobile {
        display: none;
        @media screen and (max-width: 767px) {
          display: block;
          width: 100%;
          max-width: 270px;
          position: absolute;
          //right: 5%;
          bottom: 0;
          left: 50%;
          transform: translate(-50%,0);
        }
        @media screen and(min-width: 768px) and (max-width: 1024px) {
          display: block;
          width: 45%;
          position: absolute;
          right: 5%;
          bottom: 0;
        }
      }
    }
  }
  &_text {
    display: block;
    font-family: $font_ubuntu;
    padding: 212px 0 0 40px;
    position: relative;
    @media screen and (max-width: 1024px) {
      //padding: 10px 20px 0 20px;
      //max-width: 280px;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 30px 0 0 0;
      text-align: center;
      //padding-bottom: 100px;
    }
    &_main {
      color: #231F20;
      font-size: 40px;
      font-weight: 500;
      line-height: 44px;
      width: 442px;
      @media screen and (min-width: 768px)and(max-width: 1024px) {
        font-size: 20px;
        line-height: 20px;
        width: 100%;
      }
      @media screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 16px;
        width: 100%;
      }
      &_adver {
        margin-top: 20px;
        color: #231F20;
        font-size: 40px;
        font-weight: 500;
        line-height: 44px;
        position: relative;
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          font-size: 50px;
          line-height: 50px;
          width: 47%;
          //display: none;
        }
        @media screen and (max-width: 767px) {
          width: 100%;
          font-size: 36px;
          line-height: 30px;
          //padding-bottom: 100px;
        }
      }

    }
    &_other {
      color: #7F7873;
      font-size: 26px;
      font-weight: 500;
      line-height: 30px;
      width: 400px;
      padding: 20px 0 30px;
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 60px;
        font-weight: normal;
        width: 47%;
      }
      @media screen and (max-width: 767px) {
        width: 80%;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        /* padding: 20px 10px; */
        margin: 0 auto;
        padding-bottom: 0;
      }
    }
    &_download {
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        position: absolute;
        bottom: -70px;
      }
      &_google {
        background: url(../images/Playstore.png) center no-repeat;
        background-size: 100%;
        height: 45px;
        width: 150px;
        margin-right: 20px;
        @media screen and (max-width: 1024px) {
          margin-bottom: 10px;
        }
      }
      &_apple {
        background: url(../images/Appstore.png) center no-repeat;
        background-size: 100%;
        height: 45px;
        width: 150px;
      }
    }
    &_logo {
      background: url(../images/logo_N.png) no-repeat;
      height: 212px;
      width: 325px;
      opacity: 0.2;
      position: absolute;
      top: 212px;
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    &_url {
      color: #7F7873;
      font-size: 16px;
      line-height: 18px;
      margin-top: 145px;
      @media screen and (max-width: 1024px) {
        display: none;
      }
      a {
        color: #332C26;
        text-decoration: none;
      }
    }
  }
}

.about_content {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
  &_title {
    position: relative;
    font-family: $font_ubuntu;
    font-weight: 500;
    font-size: 40px;
    z-index: 1;
    line-height: 44px;
    margin: 0 auto;
    width: 640px;
    padding: 50px 0 0 0;
    @media screen and (max-width: 1024px) {
      width: 60%;
      margin: 0 20px;
      font-size: 24px;
      font-weight: 500;
      line-height: 26px;
    }
  }
  &_footer-grey {
    position: absolute;
    height: 273px;
    width: 61px;
    bottom: 0;
    background-color: #F7F6F2;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    z-index: 0;
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  &_column-grey {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 266px;
    height: 100%;
    left: 697px;
    background-color: #F7F6F2;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  &_number-logo {
    background: url(../images/24.png) no-repeat;
    width: 300px;
    height: 206px;
    position: absolute;
    top: 35px;
    left: 81px;
    z-index: 0;
    background-size: contain;
    @media screen and (max-width: 1024px) {
      background-size: cover;
      width: 140px;
      height: 80px;
      left: 20px;
    }
  }
  &_items {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    padding: 70px 104px 0 253px;
    align-items: flex-start;
    @media screen and (max-width: 1024px) {
      padding: 0;
    }
    &_text {
      width: 400px;
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      @media screen and (max-width: 1024px) {
        width: calc(100% - 40px);
        margin: 0 auto;
      }
      &_header {
        font-size: 26px;
        line-height: 30px;
        font-family: $font_ubuntu;
        color: #7F7873;
        text-align: left;
        font-weight: 500;
        @media screen and (max-width: 1024px) {
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
        }
      }
      &_description {
        font-size: 16px;
        line-height: 24px;
        font-family: $font_ubuntu;
        color: #7F7873;
        text-align: left;
        padding: 35px 0 40px 0;
        span:first-child {
          padding-bottom: 10px;
          display: block;
        }
        @media screen and (max-width: 1024px) {
          font-size: 13px;
          line-height: 20px;
          padding: 0;
        }
      }
      &_mobile-img {
        display: none;
        @media screen and (max-width: 1024px) {
          display: block;
          img {
            width: 100%;
            margin: 20px auto 20px;
          }
        }
      }
      &_moreinfo {
        display: flex;
        align-items: center;
        font-family: $font_ubuntu;
        text-transform: uppercase;
        cursor: pointer;
        a {
          color: inherit;
          text-decoration: none;
        }
        @media screen and (max-width: 1024px) {
          margin: 20px auto;
        }
        &_left-dash, &_right-dash {
          height: 2px;
          width: 21px;
          background-color: #CBBC9D;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        }
        &_text {
          margin: 0 10px;
          font-family: $font_ubuntu;
          color: #231F20;
          font-size: 16px;
          font-weight: bold;
          line-height: 16px;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
    &_img {
      background: url(../images/eating_main.jpg) center no-repeat;
      background-size: cover;
      width: 396px;
      height: 545px;
      margin-left: 127px;
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}
