.restaurants_choosing {
  padding: 35px 0 0 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  @media screen and (max-width: 1024px) {
    padding: 35px 0 0 20px;
  }
  &_item {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding-bottom: 9px;
    &:nth-child(2) {
      padding-left: 28px;
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    &_text {
      display: flex;
      flex-direction: row;
      align-items: center;
      &_name {
        padding-right: 6px;
        color: #7F7873;
        font-family: $font_ubuntu;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
      }
      &_quantity {
        background-color: #D6D2D0;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        color: #7F7873;
        font-family: $font_ubuntu;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        border-radius: 100%;
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &_rectangle {
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #D6D2D0;
      box-shadow: inset 0 1px 0 0 #E6E3E1, 0 1px 3px 0 rgba(0, 0, 0, 0.1);
      right: 0;
      bottom: 0;
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
  .active {
    .restaurants_choosing_item {
      &_text {
        &_name {
          padding-right: 13px;
          color: #231F20;
          font-family: $font_ubuntu;
          font-size: 30px;
          font-weight: 500;
          line-height: 35px;
          @media screen and (max-width: 1024px) {
            font-size: 20px;
            line-height: 20px;
            font-weight: normal;
            text-transform: uppercase;
          }
        }
        &_quantity {
          background-color: #CBBC9D;
          color: #FFFFFF;
        }
      }
      &_rectangle {
        height: 2px;
        background-color: #7F7873;
        padding: 0;
        right: 0;
      }
    }
  }
}

.wrapper_btn {
  .showmore-restaurants {
    border-radius: 2px;
    background-color: #332C26;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    padding: 22px 0 17px;
    margin: 20px auto;
    width: 348px;
    max-width: 360px;
    font-family: Ubuntu,sans-serif;
    font-size: 18px;
    line-height: 21px;
    //left: 47%;
    //left: 31%;
    position: relative;
    //transform: translate(-50%);
    //transform: translate(-31%);
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      font-size: 13px;
      line-height: 13px;
      width: 100%;
      margin: 20px;
      //left: 0;
      //transform: translate(0);
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: 100%;
      //left: 0;
      //transform: translate(0);
      //max-width: 360px;

    }
  }
  @media screen and (max-width: 1023px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  @media screen and (max-width: 767px) {
    //left: 0;
    //transform: translate(0);
    //max-width: 360px;

  }
}

.dish-output {
  display: flex;
  flex-direction: column;
  &_result {
    display: flex;
    flex-direction: column;
    padding: 20px 40px 22px 40px;
    width: 100%;
    max-width: 1280px;
    @media screen and (max-width: 1024px) {
      max-width: 100%;
      padding: 0;
    }
    &_overview {
      display: flex;
      flex-direction: column;
      width: calc(100% - 80px);
      max-width: 1200px;
      @media screen and (max-width: 1024px) {
        max-width: 100%;
      }
      &_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-width: 1024px) {
          padding: 20px
        }
        &_name {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          @media screen and (max-width: 1024px) {
            flex-direction: column;
          }
          &_restaurant {
            color: #231F20;
            font-family: $font_ubuntu;
            font-size: 18px;
            font-weight: bold;
            line-height: 21px;
            @media screen and (max-width: 1024px) {
              font-size: 16px;
              line-height: 16px;
              font-weight: normal;
            }
          }
          &_tags {
            .content_corners_items_item_content-kitchen {
              width: 226px;
              padding-left: 0;
              &_item {
                font-size: 13px;
                line-height: 13px;
              }
            }
          }
        }
        &_time {
          @media screen and (max-width: 1024px) {
            display: none;
          }
        }
      }
      &_text {
        color: #7F7873;
        font-family: $font_ubuntu;
        font-size: 16px;
        line-height: 24px;
        padding-right: 156px;
        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
    }
    &_items {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      width: 100%;
      max-width: 1200px;
      justify-content: center;
      //flex-wrap: wrap;
      @media screen and (max-width: 1024px) {
        max-width: 400px;
        width: 100%;
        margin: 20px auto 0;
      }
      &_item {
        display: flex;
        flex-direction: column;
        max-width: 280px;
        width: 100%;
        height: 276px;
        background-color: #FFFFFF;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        margin: 10px 20px 10px 0;

        @media screen and (max-width: 1024px) {
          //width: 100%;
          height: auto;
        }
        &_img {
          //background-image: url("../images/Mask.png");
          width: 280px;
          max-width: 100%;
          //height: 100%;
          //background-position: center;
          //background-size: contain;
          @media screen and (max-width: 1024px) {
            width: 100%;
            //height: auto;
          }
          img {
            max-width: 100%;
            width: 100%;
            //height: 160px;
            @media screen and (max-width: 1024px) {
              width: 100%;
              //height: auto;
            }
          }
        }
        &_info {
          display: flex;
          width: 100%;
          height: 116px;
          flex-direction: column;
          justify-content: space-between;
          &_name {
            color: #231F20;
            font-family: $font_ubuntu;
            font-size: 18px;
            line-height: 21px;
            padding: 20px 20px 20px;
            max-height: 3em;
            overflow: hidden;
          }
          &_content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #7F7873;
            font-size: 13px;
            line-height: 13px;
            padding: 0 20px 20px;
            align-items: center;
            font-family: $font_ubuntu;
            &_item {
              padding-left: 10px;

              &_price {
                color: #231F20;
                font-family: $font_ubuntu;
                font-size: 16px;
                line-height: 18px;
              }
              &:first-child {
                //border-right: 1px solid #7F7873;
                //padding-right: 10px;
                //padding-left: 0;
              }
              &:last-child {
                //color: #231F20;
                //font-family: $font_condensed;
                //font-size: 14px;
                //font-weight: 500;
                //line-height: 18px;
              }
              .bucket {
                border-right: none;
              }
            }
            &_weight {
              display: flex;
              flex-direction: row;
              &_item {
                padding-left: 10px;
                &:first-child {
                  border-right: 1px solid #7F7873;
                  padding-right: 10px;
                  padding-left: 0;
                }
              }
            }
          }
          &_order {
            display: none;
            border-radius: 2px;
            background-color: #231F20;
            color: #FFFFFF;
            font-family: $font_ubuntu;
            font-size: 16px;
            line-height: 19px;
            padding: 10px 0;
            margin: 0 auto 20px;
            text-align: center;
            width: calc(100% - 40px);
            cursor: pointer;
          }
        }
        &:hover {
          box-shadow: 0 10px 15px rgba(76, 62, 35, .15)
        }
      }
    }
  }
}