<div class="main">
  <header class="header">
    <div class="header_adress">
      <div class="header_adress_name">
        <div class="header_adress_name_location"></div>
        <a  fragment="map" (click)="goToMap()"><span>ул. Никольская 10</span></a>
      </div>
      <div class="header_adress_time">
        <div class="header_adress_time_logo"></div>
        <span>11:00 - 23:00</span>
      </div>
      <div class="header_adress_time">
        <div class="header_adress_phone_logo"></div>
        <a href="tel.: +74959677777"><span>+74959677777</span></a>
      </div>
    </div>
    <div class="header_tabs">
      <div class="header_tabs_login" *ngIf="!headerService.login">
        <div class="header_tabs_login_logo"></div>
        <a (click)="ShowLoginForm()"><span>Вход</span></a>
      </div>
      <div class="header_tabs_logout" *ngIf="headerService.login" routerLink="/personal">
          <div class="header_tabs_logout_logo"></div>
          <a><span>{{headerService.client_about.FirstName}}</span></a>
      </div>
      <div *ngIf="headerService.login" class="header_tabs_logout_icon"></div>
      <div class="header_tabs_bucket">
        <div class="header_tabs_bucket_logo"></div>
        <a routerLink="/bucket"><span>Корзина</span></a>
      </div>
    </div>
  </header>
  <header class="header-mobile">
    <div class="header-mobile_burger" (click)="showMenu()">
      <div class="header-mobile_burger_icon"></div>
    </div>
    <a routerLink="/"><div class="header-mobile_logo"></div></a>
    <div class="header-mobile_bucket" (click)="openBusket()" style="border-left: none">
      <div class="header-mobile_bucket_icon" ></div>
    </div>
  </header>
  <div class="menu-tabs">
    <div class="menu-tabs_menu">
      <div class="menu-tabs_menu_item">
        <a routerLink="/corners" routerLinkActive="active"><span>Корнеры</span></a>
      </div>
      <div class="menu-tabs_menu_item">
        <a routerLink="/events" routerLinkActive="active"><span>События</span></a>
      </div>
      <div class="menu-tabs_menu_item">
        <a routerLink="/about" routerLinkActive="active"><span>О маркете</span></a>
      </div>
      <div class="menu-tabs_menu_item">
        <a routerLink="/contacts" routerLinkActive="active"><span>Контакты</span></a>
      </div>
    </div>
    <a routerLink="/"><div class="menu-tabs_logo"></div></a>
    <div class="menu-tabs_addit">
      <div class="menu-tabs_addit_delivery">
        <!--<div class="menu-tabs_addit_delivery_item">-->
          <!--<span>Бонусы</span>-->
        <!--</div>-->
        <div class="menu-tabs_addit_delivery_item">
          <a routerLink="/delivery"><span>Доставка</span></a>
        </div>
      </div>
      <div class="menu-tabs_addit_socials">
        <a href="https://www.facebook.com/vokrugsvetamarket/" target="_blank"><div class="menu-tabs_addit_socials_item facebook"></div></a>
        <a href="https://www.instagram.com/vokrugsvetamarket/" target="_blank"><div class="menu-tabs_addit_socials_item instagram"></div></a>
        <a href="https://vk.com/vokrugsvetamarket" target="_blank"> <div class="menu-tabs_addit_socials_item vk"></div></a>
      </div>
    </div>
  </div>
</div>
<app-mobile-menu [show_menu]="show_menu" [_parent]="this"></app-mobile-menu>
<app-busket-mob></app-busket-mob>