@import "../sass/sass/_variables";
@import "../sass/sass/_svg-sprite";
@import "../sass/sass/_png-sprite";

.main {
  .subscribe_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #D9D5D2;
    padding: 35px 40px;
    margin: 0 auto;
    max-width: 1200px;
    display: none;
    @media screen and (max-width: 1024px) {
      width: 100%;
      flex-direction: column;
      padding: 30px 0 20px;
    }
    &_socials {
      display: flex;
      flex-direction: row;
      padding-top: 20px;
      @media screen and (max-width: 1024px) {
        margin: 0 auto 20px;
        max-width: 420px;
      }
      &_vk {
        @include sp__vk_circle;
        margin-right: 10px;
        cursor: pointer;
      }
      &_fb {
        @include sp__fb_circle;
        margin-right: 10px;
        cursor: pointer;
      }
      &_twit {
        @include sp__twit_circle;
        margin-right: 10px;
        cursor: pointer;
      }
      &_inst {
        @include sp__insta_circle;
        margin-right: 10px;
        cursor: pointer;
      }
      &_pint {
        @include sp__pint_circle;
        cursor: pointer;
      }
    }
    &_main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: $font_ubuntu;
      align-items: center;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
      }
      &_text {
        color: #1A1718;
        font-size: 16px;
        line-height: 24px;
        margin-right: 10px;
        @media screen and (max-width: 1024px) {
          width: calc(100% - 80px);
          margin: 0 40px 10px;
          color: #6C6560;
          font-size: 13px;
          line-height: 20px;
          text-align: center;
        }
      }
      &_form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        input[type=email] {
          border: 1px solid #CCC8C4;
          border-radius: 2px;
          background-color: #FFFFFF;
          padding: 10px;
          margin-right: 10px;
          font-size: 16px;
          @media screen and (max-width: 1024px) {
            width: 130px;
            font-size: 13px;
            line-height: 13px;
          }
        }
        button {
          height: 44px;
          width: 147px;
          border-radius: 2px;
          background-color: #332C26;
          border: none;
          color: #FFFFFF;
          font-size: 16px;
          line-height: 16px;
          cursor: pointer;
          outline: none;
        }
        @media screen and (max-width: 1024px) {
          width: 119px;
          font-size: 13px;
          line-height: 13px;
        }
      }
    }
  }
  .footer {
    display: flex;
    padding: 0 40px;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    @media screen and (max-width: 1024px) {
      width: calc(100% - 40px);
      padding: 0 20px;
    }
    &_main {
      display: flex;
      flex-direction: row;
      padding: 30px 0 32px;
      width: 100%;
      justify-content: space-between;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        padding: 20px 0 32px;
      }
      &_menu {
        display: flex;
        flex-direction: column;
        width: 297px;
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
        &_header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          a {
            color: inherit;
            text-decoration: none;
          }
          &_item {
            font-size: 16px;
            color: #231F20;
            line-height: 16px;
            font-family: $font_ubuntu;
            cursor: pointer;
            @media screen and (max-width: 1024px) {
              font-size: 13px;
              font-weight: 500;
              line-height: 13px;
            }
            &:last-child {
              @media screen and (max-width: 1024px) {
                display: block;
              }
            }
            &:hover {
              opacity: .5;
            }
          }
        }
        &_items {
          display: flex;
          flex-direction: row;
          //justify-content: space-between;
          padding: 20px 12px 0 0;
          a {
            color: inherit;
            text-decoration: none;
          }
          &_item {
            font-size: 13px;
            color: #7F7873;
            line-height: 13px;
            font-family: $font_ubuntu;
            cursor: pointer;
            margin-right: 20px;
            &:hover {
              opacity: .5;
            }
          }
        }
      }
      &_contacts {
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 1024px) {
          margin-top: 30px;
          flex-direction: column;
        }
        &_header {
          font-size: 16px;
          color: #231F20;
          line-height: 16px;
          font-family: $font_ubuntu;
          padding-bottom: 15px;
        }
        &_blocks {
          display: flex;
          flex-direction: column;
          margin-right: 40px;
          &:last-child {
            margin-right: 0;
          }
          @media screen and (max-width: 1024px) {
            flex-direction: column;
            margin-top: 15px;
            &:first-child {
              margin-top: 0;
            }
          }
          &_items {
            @media screen and (max-width: 1024px) {
              margin-top: 10px;
            }
            &_item {
              font-size: 13px;
              color: #1A1718;
              line-height: 26px;
              font-family: $font_ubuntu;
              @media screen and (max-width: 1024px) {
                line-height: 20px;
              }
            }
            &:first-child {
              padding-right: 40px;
            }
          }
        }
      }
    }
    &_info {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding: 0 0 32px;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
      }
      &_copyright {
        font-size: 13px;
        color: #7F7873;
        line-height: 13px;
        font-family: $font_ubuntu;
        font-weight: 500;
        padding-right: 81px;
        width: 249px;
        @media screen and (max-width: 1024px) {
          padding: 0;
          width: 100%;
          margin-bottom: 30px;
          text-align: center;
        }
      }
      &_payments {
        display: flex;
        flex-direction: row;
        margin-right: 156px;
        align-items: center;
        @media screen and (max-width: 1024px) {
          margin: 0;
        }
        &_visa {
          @include sp__Visa_svg;
          margin-right: 19px;
        }
        &_american-express {
          @include sp__AMEX_svg;
          margin-right: 21px;
        }
        &_master-card {
          @include sp__MasterCard_svg;
          margin-right: 24px;
        }
        &_paypal {
          @include sp__PayPal_svg;
        }
      }
      &_made-by {
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 1024px) {
          display: none;
        }
        &_text {
          font-size: 13px;
          color: #1A1718;
          line-height: 24px;
          font-family: $font_ubuntu;
          padding-right: 10px;
        }
        &_icon {
          @include sp__decus;
          cursor: pointer;
        }
      }
      &_phone {
        display: none;
        width: 100%;
        position: absolute;
        background-color: #332C26;
        color: #FFFFFF;
        font-family: $font_ubuntu;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        bottom: 0;
        text-align: center;
        padding: 15px 0;
        z-index: 2;

        a {
          text-decoration: none;
          color: inherit;
        }
        @media screen and (max-width: 1024px) {
          display: block;
        }
      }
    }
  }
}
.busket_footer_wrapper {
  width: 100%;
  padding: 0 0 32px;
  .busket_footer {
    display: none;
    width: 100%;
    position: absolute;
    background-color: #332C26;
    color: #FFFFFF;
    font-family: $font_ubuntu;
    font-size: 16px;
    line-height: 20px;
    bottom: 0;
    padding: 15px 0;
    z-index: 2;
    left: 0;
    @media screen and (max-width: 1024px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &_total {
      &_go {
        margin-right: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        span {
          @include sp__arrow-left_bucket;
          transform: rotate(180deg);
          margin-left: 10px;
        }
      }

    }
    &_count {
      margin-left: 15px;
    }

  }
}