@import "../restaurants-main/restaurants-main.component";
:host(.root) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: unset;
  width: 100%;
  @media screen and (max-width: 1023px) {
    padding: 0 30px;
    width: 100%;
    //justify-content: space-between;
    //max-width: 400px;
    //margin: 0 auto;
    //justify-content: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px){
    //padding: 0;
    //max-width: 725px;
    //margin: 0 auto;
  }
  @media screen and (max-width: 767px){
    padding: 0;
    //max-width: 725px;
    //margin: 0 auto;
  }
  .dish-output_result_items_item {
    @media screen and (max-width: 1023px) {
      margin: 10px 0;
    }
    @media screen and (min-width: 416px) and (max-width: 767px){
      max-width: 350px;
      width: 100%;
      //margin: 10px 38px;
    }
    @media screen and (max-width: 415px){
      //margin: 10px 38px;
      max-width: 100%;
    }

  }
  .dish-output_result_items_item_info_content_item_add {
    @include sp__dish_add;
    cursor: pointer;
  }
  .dish-output_result_items_item_info_content {
    .dishes_content_menu_bucket_items_item_content_count {
      padding: 0;
    }
  }
  .active {
    height: auto;
    position: relative;
    .dish-output_result_items_item_info {
      height: auto;
      position: absolute;
      width: 280px;
      bottom: -158px;
      background-color: #FFFFFF;
      border-radius: 0 0 4px 4px;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
      &_name {
        word-wrap: break-word;
      }
      &_descr {
          color: #7F7873;
          font-family: inherit;
          font-size: 13px;
          line-height: 18px;
      }
      &_order {
        display: block;
      }
    }
  }

  .wrapper_btn {
    width: 100%;
  }
  .wrapper_block {
    width: 30%;
    margin-right: 3%;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:first-child {
        margin-right: 3%;
      }
    }
    @media screen and (min-width: 416px) and (max-width: 767px) {
      max-width: 350px;
      width: calc((100% / 2) - 2%);
      &:nth-child(2n) {
        margin-right: 0;
      }
      //&:first-child {
      //  margin-right: 3%;
      //}
    }
    @media screen and (max-width: 415px) {
        margin-right: 0;
      }
    @media screen and (max-width: 415px) {
      width: 100%;
      &:first-child {
        margin-right: 0;
      }
    }
  }
}