@import "../sass/sass/_variables";
@import "../sass/sass/_svg-sprite";
@import "../sass/sass/_png-sprite";

:host(.root) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media screen and (max-width: 1024px) {
    width: 100%;
    //padding: 0;
    //margin: 0 auto;
  }
}

.content_corners_items_item{
  //width: 380px;
  width: 32%;
  margin-right: 2%;
  border: 1px solid #E6E3E1;
  border-radius: 0 0 4px 4px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin: 30px 15px 0 0;
  position: relative;
  cursor: pointer;
  outline: none;
  &:nth-child(3n) {
    margin-right: 0;
  }
  @media screen and (max-width: 1024px) {
    width: 31%;
    //width: calc(100% - 40px);
    //padding: 0;
    //margin: 20px auto 0;
  }
  @media screen and (min-width: 416px) and (max-width: 767px) {
    max-width: 350px;
    width: calc((100% / 2) - 2%);
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(2n+1) {
      margin-right: 2%;
    }
    //&:nth-child(3n) {
    //  margin-right: 2%;
    //}
    //&:first-child {
    //  margin-right: 3%;
    //}
  }
  @media screen and (max-width: 415px){
    width: 100%;
    margin: 30px 20px 0;
    &:nth-child(2n+1) {
      margin: 30px 20px 0;
    }
    &:last-child {
      margin: 30px 20px 0;
    }
    &:nth-child(3n) {
      margin: 30px 20px 0;
    }
  }
  &_img {
    position: relative;
    //width: 380px;
    width: 100%;
    height: 214px;
    background-position: center;
    background-size: cover;
    @media screen and (max-width: 1024px) {
      width: 100%;
      height: 160px;
    }
    &_main {
      width: 380px;
      height: 214px;
      @media screen and (max-width: 1024px) {
        width: 100%;
        height: auto;
      }
    }
    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $font_ubuntu;
    padding: 15px 20px 10px;
    @media screen and (max-width: 1024px) {
      padding: 10% 20px 10px;
    }
    &_name {
      color: #231F20;
      font-size: 18px;
      line-height: 21px;
    }
    &_time {
      color: #867F7B;
      font-size: 13px;
      line-height: 13px;
      padding: 4px 7px;;
      border-radius: 2px;
      background-color: #F7F6F2;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    }
    &-kitchen-tags{
      display: flex;
      flex-direction: row;
      //flex-wrap: wrap;
      padding: 0 20px;

      @media screen and (max-width: 1024px) {
        padding: 0 20px;
      }
    }
    &-kitchen {
      display: flex;
      flex-direction: row;
      color: #7F7873;
      font-size: 13px;
      line-height: 13px;
      justify-content: unset;
      padding: 10px 0 20px 0;
      align-items: center;
      font-family: $font_ubuntu;
      @media screen and (max-width: 1024px) {
        font-size: 11px;
        line-height: 11px;
        padding: 10px 0 20px 0;
        justify-content: unset;
      }
      &_delimiter {
        @include sp__rectangle;
        margin: 0 10px;

        @media screen and (max-width: 1024px) {
          margin: 0 5px;
        }
      }
    }
  }
  &-hover {
    font-family: $font_ubuntu;
    &_main {
      background-color: rgba(0,0,0,0.8);
      padding: 55px 30px 55px;
      position: absolute;
      top: 0;
      &_text {
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        color: #FFFFFF;
        width: 319px;
      }
      &_checkin {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #FFFFFF;
        margin-top: 20px;
        align-items: center;
        font-family: $font_ubuntu;
        &_item {
          background-color: #1A1718;
          padding: 5px 10px;
          margin-right: 5px;
          span {
            color: #FFFFFF;
            font-size: 13px;
            line-height: 19px;
            text-align: center;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  &:hover {
    box-shadow: 0 10px 15px rgba(76, 62, 35, .15)
  }
}

