<div class="wrapper">
  <div class="main">
    <div class="slider">
      <owl-carousel [options]="{items: 1, dots: false,nav: true, navText: ['',''], autoplay: true,  autoplaySpeed: 1000, rewind: true}" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" *ngFor="let item of favorite_events"><img src="{{item.ImagePath}}"></div>
        <!--<div class="item"><img src="app/sass/images/slider1.jpg"></div>-->
        <!--<div class="item"><img src="app/sass/images/slider2.jpg"></div>-->
        <!--<div class="item"><img src="app/sass/images/slider-banner.png"></div>-->
      </owl-carousel>
    </div>
    <!--<div class="banner event">-->
      <!--<img src="app/sass/images/events-list-banner2.png">-->
    <!--</div>-->
    <div class="events_list">
      <!--<app-events-block [link]="'/event/'"></app-events-block>-->
      <!--<div *ngIf="eventsListService.index" class="slider">-->
        <!--<owl-carousel [options]="{items: 1, dots: false,nav: true, navText: ['','']}" [carouselClasses]="['owl-theme', 'row', 'sliding']">-->
          <!--<div class="item"><img src="app/sass/images/slider-banner.png"></div>-->
          <!--<div class="item"><img src="app/sass/images/slider-banner.png"></div>-->
          <!--<div class="item"><img src="app/sass/images/slider-banner.png"></div>-->
          <!--<div class="item"><img src="app/sass/images/slider-banner.png"></div>-->
        <!--</owl-carousel>-->
      <!--</div>-->
      <app-events-block [events_list]="events_list" [show_more]="show_more" [hide_btn]="hide_btn" [_parent]="this"></app-events-block>
    </div>
    <div class="wrapper_btn" *ngIf="start">
      <div class="showmore-restaurants" *ngIf="events_list.length>6 && hide_btn==false" (click)="show_more=true;hide_btn=true">Показать еще</div>
    </div>
      <!--<div class="events_show-more">Показать еще</div>-->
  </div>
</div>
<app-instagram-content></app-instagram-content>
<app-stock-banner [class.active]="open_event" [hidden]="open_event" [id]="id" [image]="image" [header]="header" [start_date]="start_date" [end_date]="end_date" [main_text]="main_text" [_parent]="this"></app-stock-banner>
