@import "../../sass/sass/_variables";

:host(.root) {
  @media screen and (max-width: 1023px) {
    width: 100%;
  }
}

.order-container_wrapper {
  @media screen and (max-width: 1023px) {
    width: 100%;
    max-width: 400px;
  }
  &_form {
    margin: 40px 0 0;
    @media screen and (max-width: 1023px) {
      margin: 30px 0 0;
      padding: 0 20px;
    }
    &_switch {
      display: flex;
      flex-direction: row;
      justify-content: center;
      &_item {
        padding: 15px 0;
        width: 290px;
        border: 1px solid #CCC8C4;
        border-radius: 0 2px 2px 0;
        background-color: #F7F6F5;
        color: #231F20;
        font-family: $font_ubuntu;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        text-align: center;
        cursor: pointer;
        @media screen and (max-width: 1023px) {
          width: 50%;
          font-size: 12px;
          font-weight: 500;
          line-height: 12px;
        }
      }
      .active {
        border: 2px solid #231F20;
        border-radius: 2px 0 0 2px;
        background-color: #F7F6F5;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
      }
    }
    &_group {
      margin: 0 auto;
      padding: 30px 0 0;
      border-bottom: 1px solid #CCC8C4;
      width: calc(100% - 60px);
      @media screen and (max-width: 1023px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
      &_item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 10px 0 0;
        @media screen and (max-width: 1023px) {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          margin: 0 auto 20px;
          width: 100%;
          max-width: 100%;
          input::placeholder {
            color: transparent;
          }
        }
        &:last-child {
          padding-bottom: 30px;
          @media screen and (max-width: 1023px) {
            padding-bottom: 20px;
            margin-bottom: 0;
          }
        }
        &_label {
          margin-right: 15px;
          color: #231F20;
          font-family: $font_ubuntu;
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          width: 23%;
          text-align: right;
          @media screen and (max-width: 1023px) {
            text-align: left;
            width: auto;
            font-size: 11px;
            line-height: 11px;
            font-weight: normal;
            margin-bottom: 10px;
          }
        }
        &_input {
          display: flex;
          flex-direction: row;
          width: 54%;
          @media screen and (max-width: 1023px) {
            width: 100%;
          }
          input {
            border: 1px solid #E6E3E1;
            border-radius: 2px;
            padding: 11px 20px;
            width: 100%;
            color: #7F7873;
            font-family: $font_ubuntu;
            font-size: 14px;
            line-height: 16px;
          }
          &_day {
            position: relative;
            margin-right: 20px;
            select {
              padding: 13px 20px;
              width: 150px;
              border: 1px solid #E6E3E1;
              background-color: #FFFFFF;
              border-radius: 2px;
              -webkit-appearance: none;
              color: #231F20;
              font-family: $font_ubuntu;
              font-size: 14px;
              line-height: 16px;
              cursor: pointer;
              outline: none;
              @media screen and (max-width: 1024px) {
                width: 130px;
                padding: 13px 15px;
              }
            }
            @media screen and (max-width: 1023px) {
              margin-right: 10px;
            }
          }
          &_hour {
            position: relative;
            margin-right: 20px;
            select {
              padding: 13px 20px;
              width: 80px;
              border: 1px solid #E6E3E1;
              background-color: #FFFFFF;
              border-radius: 2px;
              -webkit-appearance: none;
              color: #231F20;
              font-family: $font_ubuntu;
              font-size: 14px;
              line-height: 16px;
              cursor: pointer;
              outline: none;
              @media screen and (max-width: 1024px) {
                width: 65px;
                padding: 13px 15px;
              }
            }
            @media screen and (max-width: 1023px) {
              margin-right: 10px;
            }
          }
          &_minute {
            position: relative;
            select {
              padding: 13px 20px;
              width: 80px;
              border: 1px solid #E6E3E1;
              background-color: #FFFFFF;
              border-radius: 2px;
              -webkit-appearance: none;
              color: #231F20;
              font-family: $font_ubuntu;
              font-size: 14px;
              line-height: 16px;
              cursor: pointer;
              outline: none;
              @media screen and (max-width: 1024px) {
                width: 65px;
                padding: 13px 15px;
              }
            }
          }
          &_arrow {
            position: absolute;
            font-size: 24px;
            z-index: 1;
            top: 12px;
            right: 17px;
            transform: rotate(90deg);
            cursor: pointer;
            @media screen and (max-width: 1024px) {
              font-size: 18px;
              top: 14px;
            }
          }
          &_people {
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            &_button {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              width: 44px;
              height: 44px;
              border: 1px solid #E6E3E1;
              border-radius: 2px;
              background-color: #FFFFFF;
              color: #7F7873;
              font-size: 16px;
              cursor: pointer;
              &:first-child {
                border-right: none;
              }
              &:last-child {
                border-left: none;
              }
            }
            input {
              border: 1px solid #E6E3E1;
              border-radius: 2px;
              color: #7F7873;
              font-family: $font_ubuntu;
              font-size: 18px;
              line-height: 21px;
              text-align: center;
            }
          }
        }
        &_name {
          display: flex;
          flex-direction: row;
          @media screen and (max-width: 1023px) {
            width: fit-content;
            margin: 20px auto 0;
          }
          &_title-logged {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            &_name {
              color: #231F20;
              font-family: $font_ubuntu;
              font-size: 18px;
              font-weight: bold;
              line-height: 21px;
              margin: 0 10px 20px 0;
            }
            &_logout {
              color: #231F20;
              font-family: $font_ubuntu;
              font-size: 16px;
              line-height: 18px;
              cursor: pointer;
            }
          }
        }
        &_not-logged-title {
          color: #231F20;
          font-family: $font_ubuntu;
          font-size: 18px;
          font-weight: bold;
          line-height: 21px;
          @media screen and (max-width: 1023px) {
            width: fit-content;
            margin: 0 auto;
          }
        }
        &_add-phone {
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          &_plus {
            font-weight: 500;
            font-size: 20px;
            font-family: $font_ubuntu;
            line-height: 16px;
            margin-right: 10px;
          }
          &_text {
            color: #231F20;
            font-family: $font_ubuntu;
            font-size: 14px;
            line-height: 16px;
          }
        }
        &_add-phone-description {
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: default;
          margin-left: 150px;
          @media screen and (max-width: 1023px) {
            margin-left: 0;
          }
          &_lock {
            background: url("../../sass/sass/icons/lock.svg");
            width: 12px;
            height: 18px;
            margin-right: 8px;
          }
          &_text {
            color: #7F7873;
            font-family: $font_ubuntu;
            font-size: 14px;
            line-height: 16px;
            @media screen and (max-width: 1023px) {
              color: #231F20;
              font-size: 11px;
              line-height: 15px;
            }
          }
        }
        &_submit {
          @media screen and (max-width: 1023px) {
            width: 100%;
          }
          &_button {
            border-radius: 2px;
            background-color: #332C26;
            padding: 13px 0;
            width: 200px;
            color: #FFFFFF;
            font-family: $font_ubuntu;
            font-size: 16px;
            line-height: 18px;
            cursor: pointer;
            @media screen and (max-width: 1023px) {
              width: 100%;
            }
          }
        }
        &_addresses {
          display: flex;
          flex-direction: column;
          width: 100%;
          //margin-top: 30px;
          //border-top: 1px solid #CCC8C4;
          //padding-top: 30px;
          &_item {
            display: flex;
            flex-direction: row;
            padding: 25px 20px 25px;
            border-bottom: 1px solid #CCC8C4;
            position: relative;
            &:nth-child(odd) {
              background-color: #F7F6F5;
            }
            input {
              margin-right: 25px;
            }
            &_text {
              color: #231F20;
              font-family: $font_ubuntu;
              font-size: 16px;
              line-height: 18px;
              margin-right: 70px;
              margin-left: 25px;
            }
            input[type=checkbox] {
              position: absolute;
              left: 0;
              top: 0;
              margin: 0;
              padding: 0;
              opacity: 0;
            }
            .desktop {
              font-size: 16px;
              line-height: 18px;
              margin-right: 70px;
              @media screen and (max-width: 1023px) {
                display: none;
              }
            }
            .mobile {
              display: none;
              color: #231F20;
              font-family: $font_ubuntu;
              font-size: 14px;
              line-height: 16px;
              @media screen and (max-width: 1023px) {
                display: block;
              }
            }
            label {
              margin-right: 25px;
            }
            label::after, label::before {
              content: '';
              display: block;
              width: 24px;
              height: 24px;
              border-radius: 3.6px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }
            label::before {
              left: 0;
              border: 1px solid #e6e6e6;
              box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
              background-color: #ffffff;
              margin-left: 20px;
            }
            label::after {
              background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/icon-check.svg") no-repeat center center;
              display: none;
              left: 20px;
            }
            input[type=checkbox]:checked + label::before {
              background-color: #19191a;
              border: none;
              box-shadow: none;
            }
            input[type=checkbox]:checked + label::after {
              display: block;
            }
          }
          &_add-new {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            margin: 20px 20px 0;
            &_plus {
              font-weight: 500;
              font-size: 20px;
              font-family: $font_ubuntu;
              line-height: 16px;
              margin-right: 10px;
            }
            &_text {
              color: #231F20;
              font-family: $font_ubuntu;
              font-size: 14px;
              line-height: 16px;
            }
          }
        }
        &_building-group {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          margin: 0 auto 0 53px;
          @media screen and (max-width: 1023px) {
            margin: 0 auto;
            width: 100%;
            justify-content: space-between;
          }
          &_item {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            &:first-child {
              @media screen and (max-width: 1023px) {
                width: 30%;
              }
              .order-container_wrapper_form_group_item {
                &:first-child {
                  display: none;
                  @media screen and (max-width: 1023px) {
                    display: block;
                  }
                }
                &:nth-child(2) {
                  @media screen and (max-width: 1023px) {
                    display: none;
                  }
                }
              }
            }
            &:last-child {
              @media screen and (max-width: 1023px) {
                width: 60%;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
              }
              .order-container_wrapper_form_group_item {
                @media screen and (max-width: 1023px) {
                  width: 45%;
                  .order-container_wrapper_form_group_item_input {
                    width: 100%;
                  }
                }
                &:first-child {
                  display: none;
                  @media screen and (max-width: 1023px) {
                    margin: 0 0 20px;
                    display: block;
                  }
                }
                &:nth-child(2) {
                  @media screen and (max-width: 1023px) {
                    margin: 0 0 20px;
                  }
                }
                &:last-child {
                  @media screen and (max-width: 1023px) {
                    width: 100%;
                    .order-container_wrapper_form_group_item_input {
                      width: 100%;
                    }
                  }
                }
              }
            }
            &:last-child {
              padding-left: 57px;
              @media screen and (max-width: 1023px) {
                padding: 0;
              }
            }
          }
          .order-container_wrapper_form_group_item_label {
            width: auto;
          }
          .order-container_wrapper_form_group_item_input {
            width: 110px;
          }
        }
        &_payment-title {
          color: #231F20;
          font-family: $font_ubuntu;
          font-size: 16px;
          font-weight: bold;
          line-height: 22px;
          @media screen and (max-width: 1023px) {
            width: 100%;
            text-align: center;
            font-size: 16px;
            line-height: 16px;
            font-weight: normal;
          }
        }
        &_payments {
          display: flex;
          flex-direction: row;
          @media screen and (max-width: 1023px) {
            width: 100%;
          }
          &_item {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            padding: 15px 0 17px;
            width: 180px;
            border: 1px solid #CCC8C4;
            border-radius: 2px;
            background-color: #FFFFFF;
            cursor: pointer;
            @media screen and (max-width: 1023px) {
              width: 50%;
            }
            &:first-child {
              margin-right: 10px;
            }
            &_text {
              color: #231F20;
              font-family: $font_ubuntu;
              width: 55%;
              &_desktop {
                font-size: 16px;
                font-weight: bold;
                line-height: 22px;
                text-align: center;
                width: 100%;
                @media screen and (max-width: 1023px) {
                  display: none;
                }
              }
              &_mobile {
                display: none;
                font-size: 12px;
                font-weight: 500;
                line-height: 16px;
                text-align: center;
                @media screen and (max-width: 1023px) {
                  display: block;
                }
              }
            }
            &_visa {
              background: url("../../sass/sass/icons/visaColor.png");
              margin-right: 5px;
            }
            &_mcard {
              background: url("../../sass/sass/icons/masterColor.png");
              margin-left: 5px;
            }
          }
          .active {
            border: 2px solid #231F20;
            border-radius: 2px;
            background-color: #FFFFFF;
          }
        }
        &_pay-by-points {
          display: flex;
          flex-direction: column;
          padding: 30px 0 0;
          width: 100%;
          align-items: center;
          &_check {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            position: relative;
            flex-wrap: wrap;
            @media screen and (max-width: 1023px) {
              width: 65%;
            }
            input {
              margin-right: 15px;
            }
            input[type=checkbox] {
              position: absolute;
              left: 0;
              top: 0;
              margin: 0;
              padding: 0;
              opacity: 0;
            }
            label::after, label::before {
              content: '';
              display: block;
              width: 24px;
              height: 24px;
              border-radius: 3.6px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }
            label::before {
              left: 0;
              border: 1px solid #e6e6e6;
              box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
              background-color: #ffffff;
            }
            label::after {
              background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/icon-check.svg") no-repeat center center;
              display: none;
              left: 0;
            }
            input[type=checkbox]:checked + label::before {
              background-color: #19191a;
              border: none;
              box-shadow: none;
            }
            input[type=checkbox]:checked + label::after {
              display: block;
            }
            &_text {
              color: #231F20;
              font-family: $font_ubuntu;
              font-size: 16px;
              font-weight: normal;
              line-height: 22px;
              @media screen and (max-width: 1023px) {
                font-size: 12px;
                font-weight: 500;
                line-height: 16px;
                &:last-child {
                  margin-left: 30px;
                }
              }
              span {
                font-weight: bold;
              }
            }
          }
          &_block {
            display: none;
            flex-direction: row;
            margin-top: 20px;
            @media screen and (max-width: 1023px) {
              width: 100%;
              justify-content: space-between;
            }
            .order-container_wrapper_form_group_item {
              padding: 0;
              @media screen and (max-width: 1023px) {
                width: 49%;
                margin: 0;
              }
              &:first-child {
                margin-right: 30px;
                @media screen and (max-width: 1023px) {
                  margin-right: 0;
                }
              }
              &_label {
                width: auto;
                color: #332C26;
                font-family: $font_ubuntu;
                font-size: 14px;
                font-weight: bold;
                line-height: 19px;
                margin-right: 9px;
                @media screen and (max-width: 1023px) {
                  color: #231F20;
                  font-size: 11px;
                  line-height: 11px;
                  font-weight: normal;
                }
              }
              .desktop {
                @media screen and (max-width: 1023px) {
                  display: none;
                }
              }
              .mobile {
                display: none;
                @media screen and (max-width: 1023px) {
                  display: block;
                }
              }
              &_input {
                width: 105px;
                margin-right: 10px;
                @media screen and (max-width: 1023px) {
                  width: 100%;
                  margin: 0;
                }
              }
              &_postfix {
                color: #7F7873;
                font-family: $font_ubuntu;
                font-size: 14px;
                line-height: 16px;
                @media screen and (max-width: 1023px) {
                  display: none;
                }
              }
            }
          }
        }
      }
      .comment {
        @media screen and (max-width: 1023px) {
          input::placeholder {
            color: black;
          }
        }
      }
      .active-item {
        background-color: #F7F6F4;
        @media screen and (max-width: 1023px) {
          background-color: #FFFFFF;
        }
        .order-container_wrapper_form_group_item_pay-by-points_block {
          display: flex;
        }
      }
    }
    &_total {
      padding: 27px 30px 0 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media screen and (max-width: 1023px) {
        flex-direction: column;
        justify-content: center;
        padding: 25px 0 0;
      }
      &_sum {
        @media screen and (max-width: 1023px) {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
        &_title {
          color: #2E2927;
          font-family: $font_ubuntu;
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          @media screen and (max-width: 1023px) {
            margin-right: 5px;
          }
        }
        &_items {
          display: flex;
          flex-direction: row;
          &_all {
            color: #7F7873;
            font-family: $font_ubuntu;
            font-size: 22px;
            font-weight: 500;
            line-height: 26px;
            text-decoration: line-through;
            margin-right: 10px;
            @media screen and (max-width: 1023px) {
              text-decoration: none;
              color: #2E2927;
              font-weight: bold;
            }
            .currency {
              font-weight: normal;
            }
          }
          &_cash {
            color: #2E2927;
            font-family: $font_ubuntu;
            font-size: 22px;
            font-weight: 500;
            line-height: 26px;
            margin-right: 10px;
            @media screen and (max-width: 1023px) {
              display: none;
            }
          }
          &_points {
            color: #2E2927;
            font-family: $font_ubuntu;
            font-size: 22px;
            font-weight: 500;
            line-height: 26px;
            margin-right: 10px;
            @media screen and (max-width: 1023px) {
              display: none;
            }
          }
        }
      }
      &_submit {
        color: #FFFFFF;
        font-family: $font_ubuntu;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        padding: 15px 0;
        width: 265px;
        background-color: #332C26;
        cursor: pointer;
        @media screen and (max-width: 1023px) {
          width: 100%;
          margin-top: 20px;
        }
      }
    }
  }
}