@import "../sass/sass/_variables";
@import "../sass/sass/_svg-sprite";
@import "../sass/sass/_png-sprite";

.order-container {
  background-color: #F7F6F4;
  padding: 50px 0;
  @media screen and (max-width: 1023px) {
    padding: 0;
    background-color: #FFFFFF;
    border-top: 1px solid #CCC8C4;
  }
  &_wrapper {
    background-color: #ffffff;
    padding: 30px 0 20px;
    max-width: 830px;
    margin: 0 auto;
    @media screen and (max-width: 1023px) {
      width: 100%;
      max-width: 400px;
    }
    &_title {
      color: #231F20;
      font-family: $font_ubuntu;
      font-size: 30px;
      font-weight: bold;
      line-height: 30px;
      width: fit-content;
      margin: 0 auto;
      @media screen and (max-width: 1023px) {
        color: #231F20;
        font-family: $font_condensed;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        margin: 0 0 0 20px;
      }
    }
    &_form {
      margin: 40px 0 0;
      @media screen and (max-width: 1023px) {
        margin: 0 0 0;
        padding: 0 20px;
        position: relative;
      }
      &_switch {
        display: flex;
        flex-direction: row;
        justify-content: center;
        @media screen and (max-width: 1023px) {
          width: 100%;
        }
        &_item {
          padding: 15px 0;
          width: 290px;
          border: 1px solid #CCC8C4;
          border-radius: 0 2px 2px 0;
          background-color: #F7F6F5;
          color: #231F20;
          font-family: $font_ubuntu;
          font-size: 18px;
          font-weight: bold;
          line-height: 21px;
          text-align: center;
          cursor: pointer;
          @media screen and (max-width: 1023px) {
            width: 50%;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
          }
        }
        .active {
          border: 2px solid #231F20;
          border-radius: 2px 0 0 2px;
          background-color: #F7F6F5;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        }
      }
      &_group {
        margin: 0 auto;
        padding: 30px 0 0;
        border-bottom: 1px solid #CCC8C4;
        width: calc(100% - 60px);
        padding-bottom: 30px;
        @media screen and (max-width: 1023px) {
          padding-bottom: 0;
        }
        form {
          @media screen and (max-width: 1023px) {
            width: 100%;
          }
        }

        @media screen and (max-width: 1023px) {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }
        &_item {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 10px 0 0;
          @media screen and (max-width: 1023px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0 auto 20px;
            width: 100%;
            max-width: 100%;
            input::placeholder {
              color: transparent;
            }
          }
          &:last-child {
            //padding-bottom: 30px;
            @media screen and (max-width: 1023px) {
              padding-bottom: 0;
              //margin-bottom: 0;
            }
          }
          .radiobtn_wrapper {
            position: relative;
            margin: 10px 10px;
            &_title {
                color: #231F20;
                font-family: $font_ubuntu;
                font-size: 18px;
                font-weight: bold;
                line-height: 21px;
                text-align: center;
                margin-bottom: 20px;
            }
            &_item {
              position: relative;
              margin-bottom: 15px;
              input[type=radio] {
                position: absolute;
                left: 0;
                top: 0;
                margin: 0;
                padding: 0;
                opacity: 0;
              }
              label::after, label::before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }
              label::before {
                left: 0;
                border: 1px solid #e6e6e6;
                box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
                background-color: #ffffff;
              }
              label::after {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #CCC8C4;
                display: none;
                left: 0;
              }
              input[type=radio]:checked + label::before {
                background-color: #F7F6F5;
                border: 1px solid #e6e6e6;
                box-shadow: none;
              }
              input[type=radio]:checked + label::after {
                display: block;
                left: 7px;
              }
            }
          }
          &_label {
            margin-right: 15px;
            color: #231F20;
            font-family: $font_ubuntu;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            width: 23%;
            text-align: right;
            @media screen and (max-width: 1023px) {
              text-align: left;
              width: auto;
              font-size: 11px;
              line-height: 11px;
              font-weight: normal;
              margin-bottom: 10px;
            }
          }
          &_input {
            display: flex;
            flex-direction: row;
            width: 54%;
            @media screen and (max-width: 1023px) {
              width: 100%;
            }
            textarea {
              height: 84px;
              width: 394px;
              border: 1px solid #E6E3E1;
              border-radius: 2px;
              background-color: #FFFFFF;
              box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
              resize: none;
              padding: 20px 15px;
              color: #7F7873;
              font-family: $font_ubuntu;
              font-size: 14px;
              line-height: 16px;
              outline: none;
            }
            input {
              border: 1px solid #E6E3E1;
              border-radius: 2px;
              padding: 11px 20px;
              width: 100%;
              color: #7F7873;
              font-family: $font_ubuntu;
              font-size: 14px;
              line-height: 16px;
            }
            &_day {
              position: relative;
              margin-right: 20px;
              select {
                padding: 13px 20px;
                width: 150px;
                border: 1px solid #E6E3E1;
                background-color: #FFFFFF;
                border-radius: 2px;
                -webkit-appearance: none;
                color: #231F20;
                font-family: $font_ubuntu;
                font-size: 14px;
                line-height: 16px;
                cursor: pointer;
                outline: none;
                @media screen and (max-width: 1023px) {
                  width: 130px;
                  padding: 13px 15px;
                }
              }
              @media screen and (max-width: 1023px) {
                margin-right: 10px;
              }
            }
            &_hour {
              position: relative;
              margin-right: 20px;
              .disable {
                opacity: 0.2;
                color: #231f20;
              }
              select {
                padding: 13px 20px;
                width: 80px;
                border: 1px solid #E6E3E1;
                background-color: #FFFFFF;
                border-radius: 2px;
                -webkit-appearance: none;
                color: #231F20;
                font-family: $font_ubuntu;
                font-size: 14px;
                line-height: 16px;
                cursor: pointer;
                outline: none;
                @media screen and (max-width: 1023px) {
                  width: 65px;
                  padding: 13px 15px;
                }
              }
              @media screen and (max-width: 1023px) {
                margin-right: 10px;
              }
            }
            &_minute {
              position: relative;
              .disable {
                opacity: 0.2;
                color: #231f20;
              }
              select {
                padding: 13px 20px;
                width: 80px;
                border: 1px solid #E6E3E1;
                background-color: #FFFFFF;
                border-radius: 2px;
                -webkit-appearance: none;
                color: #231F20;
                font-family: $font_ubuntu;
                font-size: 14px;
                line-height: 16px;
                cursor: pointer;
                outline: none;
                @media screen and (max-width: 1023px) {
                  width: 65px;
                  padding: 13px 15px;
                }
              }
            }
            &_arrow {
              position: absolute;
              font-size: 24px;
              z-index: 1;
              top: 12px;
              right: 17px;
              transform: rotate(90deg);
              cursor: pointer;
              @media screen and (max-width: 1023px) {
                font-size: 18px;
                top: 14px;
              }
            }
            &_people {
              display: flex;
              flex-direction: row;
              box-sizing: border-box;
              &_button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 44px;
                height: 44px;
                border: 1px solid #E6E3E1;
                border-radius: 2px;
                background-color: #FFFFFF;
                color: #7F7873;
                font-size: 16px;
                cursor: pointer;
                &:first-child {
                  border-right: none;
                }
                &:last-child {
                  border-left: none;
                }
              }
              input {
                border: 1px solid #E6E3E1;
                border-radius: 2px;
                color: #7F7873;
                font-family: $font_ubuntu;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                width: 38px;
              }
            }

          }
          .address {
            flex-direction: column;

            input {
              width: 90%;
              @media screen and (max-width: 1023px) {
                width: 85%;
              }
            }

            select {
              width: 100%;
            }
          }
          &_name {
            display: flex;
            flex-direction: row;
            @media screen and (max-width: 1023px) {
              width: fit-content;
              margin: 20px auto 0;
            }
            &_title-logged {
              display: flex;
              flex-direction: row;
              align-items: baseline;
              &_name {
                color: #231F20;
                font-family: $font_ubuntu;
                font-size: 18px;
                font-weight: bold;
                line-height: 21px;
                margin: 0 10px 20px 0;
              }
              &_logout {
                color: #231F20;
                font-family: $font_ubuntu;
                font-size: 16px;
                line-height: 18px;
                cursor: pointer;
              }
            }
          }
          &_not-logged-title {
            color: #231F20;
            font-family: $font_ubuntu;
            font-size: 18px;
            font-weight: bold;
            line-height: 21px;
            @media screen and (max-width: 1023px) {
              width: fit-content;
              margin: 0 auto;
            }
          }
          &_add-phone {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            &_plus {
              font-weight: 500;
              font-size: 20px;
              font-family: $font_ubuntu;
              line-height: 16px;
              margin-right: 10px;
            }
            &_text {
              color: #231F20;
              font-family: $font_ubuntu;
              font-size: 14px;
              line-height: 16px;
            }
          }
          &_add-phone-description {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: default;
            margin-left: 150px;
            @media screen and (max-width: 1023px) {
              margin-left: 0;
            }
            &_lock {
              @include sp__lock;
              margin-right: 8px;
              @media screen and (max-width: 1023px) {
                padding-right: 4px;
              }
            }
            &_text {
              color: #7F7873;
              font-family: $font_ubuntu;
              font-size: 14px;
              line-height: 16px;
              @media screen and (max-width: 1023px) {
                color: #231F20;
                font-size: 11px;
                line-height: 15px;
              }
            }
          }
          &_submit {
            @media screen and (max-width: 1023px) {
              width: 100%;
            }
            &_button {
              border-radius: 2px;
              background-color: #332C26;
              padding: 13px 0;
              width: 200px;
              color: #FFFFFF;
              font-family: $font_ubuntu;
              font-size: 16px;
              line-height: 18px;
              cursor: pointer;
              @media screen and (max-width: 1023px) {
                width: 100%;
              }
            }
          }
          &_addresses {
            display: flex;
            flex-direction: column;
            width: 100%;
            &_item {
              display: flex;
              flex-direction: row;
              padding: 25px 20px 25px;
              box-shadow: inset 0 -1px 0 0 #E6E3E1, 0 1px 3px 0 rgba(0, 0, 0, 0.1);
              &:nth-child(odd) {
                background-color: #F7F6F5;
              }
              input {
                margin-right: 25px;
              }
              &_text {
                color: #231F20;
                font-family: $font_ubuntu;
                font-size: 16px;
                line-height: 18px;
                margin-right: 70px;
              }
              .desktop {
                font-size: 16px;
                line-height: 18px;
                margin-right: 70px;
                @media screen and (max-width: 1023px) {
                  display: none;
                }
              }
              .mobile {
                display: none;
                color: #231F20;
                font-family: $font_ubuntu;
                font-size: 14px;
                line-height: 16px;
                @media screen and (max-width: 1023px) {
                  display: block;
                }
              }
            }
            &_add-new {
              display: flex;
              flex-direction: row;
              align-items: center;
              cursor: pointer;
              margin: 20px 20px 0;
              &_plus {
                font-weight: 500;
                font-size: 20px;
                font-family: $font_ubuntu;
                line-height: 16px;
                margin-right: 10px;
              }
              &_text {
                color: #231F20;
                font-family: $font_ubuntu;
                font-size: 14px;
                line-height: 16px;
              }
            }
          }
          &_building-group {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto 0 57px;
            @media screen and (max-width: 1023px) {
              margin: 0 auto;
              width: 100%;
              justify-content: space-between;
            }
            &_item {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              @media screen and (max-width: 1023px) {
                width: 45%;
                flex-direction: column;
                justify-content: unset;
                align-items: unset;
                padding-left: 0;
              }

              //&:first-child {
              //  @media screen and (max-width: 1023px) {
              //    width: 30%;
              //  }
                .order-container_wrapper_form_group_item {
                  &:first-child {
                    //display: none;
                    @media screen and (max-width: 1023px) {
                      display: block;
                    }
                  }
                  &:nth-child(2) {
                    @media screen and (max-width: 1023px) {
                      //display: none;
                    }
                  }
                }
              &:last-child {
                padding-left: 55px;
                @media screen and (max-width: 1023px) {
                  padding-left: 0;
                }
              }
              }
              &:last-child {
                @media screen and (max-width: 1023px) {
                  width: 100%;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: space-between;
                }
                .order-container_wrapper_form_group_item {
                  //margin: 0 0 20px;
                  @media screen and (max-width: 1023px) {
                    width: 45%;
                    .order-container_wrapper_form_group_item_input {
                      width: 100%;
                    }
                  }
                  &:first-child {
                    //display: none;
                    @media screen and (max-width: 1023px) {
                      //margin: 0 0 20px;
                      display: block;
                    }
                  }
                  &:nth-child(2) {
                    @media screen and (max-width: 1023px) {
                      //margin: 0 0 20px;
                    }
                  }
                  &:last-child {

                    @media screen and (max-width: 1023px) {
                      width: 100%;
                      .order-container_wrapper_form_group_item_input {
                        width: 100%;
                      }
                    }
                  }
                }
              }
              &:last-child {

                @media screen and (max-width: 1023px) {
                  //width: 50%;
                  //flex-direction: column;
                  //justify-content: unset;
                  }
                .order-container_wrapper_form_group_item {
                  @media screen and (max-width: 1023px) {
                    width: 100%;
                    //margin: 0;
                  }
              }
            }
            .order-container_wrapper_form_group_item_label {
              width: auto;
              margin-right: 22px;
            }
            .order-container_wrapper_form_group_item_input {
              width: 110px;
            }
          }
          &_payment-title {
            color: #231F20;
            font-family: $font_ubuntu;
            font-size: 16px;
            font-weight: bold;
            line-height: 22px;
            @media screen and (max-width: 1023px) {
              width: 100%;
              text-align: center;
              font-size: 16px;
              line-height: 16px;
              font-weight: normal;
            }
          }
          &_payments {
            display: flex;
            flex-direction: row;
            @media screen and (max-width: 1023px) {
              width: 100%;
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;
            }
            &_item {
              display: flex;
              align-items: center;
              justify-content: center;
              box-sizing: border-box;
              padding: 15px 0 17px;
              width: 180px;
              border: 1px solid #CCC8C4;
              border-radius: 2px;
              background-color: #FFFFFF;

              cursor: pointer;
              @media screen and (max-width: 1023px) {
                width: 48%;
              }
              &:first-child {
                margin-right: 10px;
              }
              &:last-child {
                background-color: grey;
                opacity: .5;
                @media screen and (max-width: 1023px) {
                  margin-top: 10px;
                }
              }
              &_text {
                color: #231F20;
                font-family: $font_ubuntu;
                font-size: 16px;
                font-weight: bold;
                line-height: 22px;
                text-align: center;
                width: 55%;
                &:last-child {
                  @media screen and (max-width: 1023px) {
                    width: 100%;
                  }
                }
                &_desktop {
                  font-size: 16px;
                  font-weight: bold;
                  line-height: 22px;
                  text-align: center;
                  width: 100%;
                  @media screen and (max-width: 1023px) {
                    display: none;
                  }
                }
                &_mobile {
                  display: none;
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 16px;
                  text-align: center;
                  @media screen and (max-width: 1023px) {
                    display: block;
                  }
                }
              }
              &_visa {
                @include sp__visaColor;
                margin-right: 5px;
                @media screen and (max-width: 1023px) {
                  transform: scale(0.75);
                }
              }
              &_mcard {
                @include sp__masterColor;
                margin-left: 5px;
                @media screen and (max-width: 1023px) {
                  transform: scale(0.75);
                }
              }
            }
            .active {
              border: 2px solid #231F20;
              border-radius: 2px;
              background-color: #FFFFFF;
            }
          }
          &_pay-by-points {
            display: flex;
            flex-direction: column;
            padding: 30px 0 0;
            width: 100%;
            align-items: center;
            &_check {
              display: flex;
              flex-direction: row;
              align-items: baseline;
              position: relative;
              flex-wrap: wrap;
              @media screen and (max-width: 1023px) {
                width: 65%;
              }
              input {
                margin-right: 15px;
              }
              input[type=checkbox] {
                position: absolute;
                left: 0;
                top: 0;
                margin: 0;
                padding: 0;
                opacity: 0;
              }
              label::after, label::before {
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                border-radius: 3.6px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }
              label::before {
                left: 0;
                border: 1px solid #e6e6e6;
                box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
                background-color: #ffffff;
              }
              label::after {
                @include sp__checked;
                display: none;
                left: 7px;
              }
              input[type=checkbox]:checked + label::before {
                background-color: #332C26;
                border: none;
                box-shadow: none;
              }
              input[type=checkbox]:checked + label::after {
                display: block;
              }
              &_text {
                color: #231F20;
                font-family: $font_ubuntu;
                font-size: 16px;
                font-weight: normal;
                line-height: 22px;
                margin-left: 35px;
                @media screen and (max-width: 1023px) {
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 16px;
                  &:last-child {
                    margin-left: 30px;
                  }
                }
                span {
                  font-weight: bold;
                }
              }
            }
            &_block {
              display: none;
              flex-direction: row;
              margin-top: 20px;
              @media screen and (max-width: 1023px) {
                width: 100%;
                justify-content: space-between;
              }
              .order-container_wrapper_form_group_item {
                padding: 0;
                @media screen and (max-width: 1023px) {
                  width: 49%;
                  margin: 0;
                }
                &:first-child {
                  margin-right: 30px;
                  @media screen and (max-width: 1023px) {
                    margin-right: 0;
                  }
                }
                &_label {
                  width: auto;
                  color: #332C26;
                  font-family: $font_ubuntu;
                  font-size: 14px;
                  font-weight: bold;
                  line-height: 19px;
                  margin-right: 9px;
                  @media screen and (max-width: 1023px) {
                    color: #231F20;
                    font-size: 11px;
                    line-height: 11px;
                    font-weight: normal;
                  }
                }
                .desktop {
                  @media screen and (max-width: 1023px) {
                    display: none;
                  }
                }
                .mobile {
                  display: none;
                  @media screen and (max-width: 1023px) {
                    display: block;
                  }
                }
                &_input {
                  width: 105px;
                  margin-right: 10px;
                  @media screen and (max-width: 1023px) {
                    width: 100%;
                    margin: 0;
                  }
                }
                &_postfix {
                  color: #7F7873;
                  font-family: $font_ubuntu;
                  font-size: 14px;
                  line-height: 16px;
                  @media screen and (max-width: 1023px) {
                    display: none;
                  }
                }
              }
            }
          }
        }
        .comment {
          @media screen and (max-width: 1023px) {
            input::placeholder {
              color: black;
            }
          }
        }
        .active-item {
          background-color: #F7F6F4;
          @media screen and (max-width: 1023px) {
            background-color: #FFFFFF;
          }
          .order-container_wrapper_form_group_item_pay-by-points_block {
            display: flex;
          }
        }
        &_change_wrapper {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          label {
            margin-right: 15px;
            color: #231F20;
            font-family: Ubuntu, sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            text-align: right;
          }
          input {
            border: 1px solid #E6E3E1;
            border-radius: 2px;
            background-color: #FFFFFF;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
            resize: none;
            padding: 10px 5px;
            color: #7F7873;
            font-family: Ubuntu, sans-serif;
            font-size: 14px;
            line-height: 16px;
            outline: none;
          }
          @media screen and (max-width: 1023px) {
            margin-bottom: 30px;
          }
        }

      }
      .adresses {
        padding: 0;
      }
      .form_add_address {
        padding: 15px;
        width: 169px;
        border-radius: 2px;
        background-color: #332C26;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        color: #FFFFFF;
        font-size: 16px;
        line-height: 18px;
        margin: 0 auto 20px;
        cursor: pointer;
        outline: none;
        @media screen and (max-width: 1023px) {
          width: 100%;
          font-size: 13px;
          line-height: 13px;
        }
      }
      &_total {
        padding: 27px 30px 0 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-width: 1023px) {
          flex-direction: column;
          justify-content: center;
          padding: 25px 0 0;
        }
        &_sum {
          @media screen and (max-width: 1023px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }
          &_title {
            color: #2E2927;
            font-family: $font_ubuntu;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            @media screen and (max-width: 1023px) {
              margin-right: 5px;
            }
          }
          &_items {
            display: flex;
            flex-direction: row;
            &_all {
              color: #7F7873;
              font-family: $font_ubuntu;
              font-size: 22px;
              font-weight: 500;
              line-height: 26px;
              text-decoration: line-through;
              margin-right: 10px;
              @media screen and (max-width: 1023px) {
                text-decoration: none;
                color: #2E2927;
                font-weight: bold;
              }
              .currency {
                font-weight: normal;
              }
            }
            &_cash {
              color: #2E2927;
              font-family: $font_ubuntu;
              font-size: 22px;
              font-weight: 500;
              line-height: 26px;
              margin-right: 10px;
              @media screen and (max-width: 1023px) {
                //display: none;
              }
            }
            &_points {
              color: #2E2927;
              font-family: $font_ubuntu;
              font-size: 22px;
              font-weight: 500;
              line-height: 26px;
              margin-right: 10px;
              @media screen and (max-width: 1023px) {
                display: none;
              }
            }
          }
        }
        &_submit {
          color: #FFFFFF;
          font-family: $font_ubuntu;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          padding: 15px 0;
          width: 265px;
          background-color: #332C26;
          cursor: pointer;
          @media screen and (max-width: 1023px) {
            width: 100%;
            margin-top: 20px;
          }
        }
      }
    }
    &_success {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 80px 0;
      @media screen and (max-width: 1024px) {
        margin: 40px 0;
      }

      &_icon {
        @include sp__mail;
        margin-bottom: 40px;
        margin-left: -30px;
        @media screen and (max-width: 1024px) {
          margin-bottom: 30px;
        }
      }
      &_title {
          font-family: $font_ubuntu;
          font-size: 30px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #231f20;
        margin-bottom: 20px;
        @media screen and (max-width: 1024px) {
          margin-bottom: 10px;
        }
      }
      &_text {
          font-family: $font_ubuntu;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.5;
          letter-spacing: normal;
          text-align: center;
          color: #7f7873;
          width: 400px;

        @media screen and (max-width: 1024px) {
            width: 280px;
            font-size: 13px;
            line-height: 1.54;
        }

      }
    }
  }
}
.error {
  border: 1px solid #FF2E00;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
}
.error_text {
  color: #FF2E00;
  font-family: $font_ubuntu;
  font-size: 12px;
  line-height: 17px;
  text-align: center;

}
