<div class="order-container">
    <div class="order-container_wrapper">
        <div *ngIf="!make_order_success"  class="order-container_wrapper_title">Оформление заказа</div>
        <form *ngIf="!make_order_success"  class="order-container_wrapper_form">
            <!--<div class="order-container_wrapper_form_switch">-->
                <!--<div class="order-container_wrapper_form_switch_item active" [class.active]="type_delivery['delivery']" (click)="showDescriptionDelivery()">Доставка</div>-->
                <!--&lt;!&ndash;<div class="order-container_wrapper_form_switch_item" [class.active]="type_delivery['selfdelivery']"  (click)="showDescriptionSelfdelivery()">Самовынос</div>&ndash;&gt;-->
            <!--</div>-->
            <div class="order-container_wrapper_form_group">

                <!--<div class="order-container_wrapper_form_group_item">-->
                    <!--<div class="radiobtn_wrapper">-->
                        <!--<div class="radiobtn_wrapper_title">Время доставки</div>-->
                        <!--<div class="radiobtn_wrapper_item">-->
                            <!--<input type="radio" name="check" (change)="selectTime($event)" id="faster">-->
                            <!--<label for="faster"></label>-->
                            <!--<div  class="order-container_wrapper_form_group_item_pay-by-points_check_text">-->
                                <!--Как можно скорее-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="radiobtn_wrapper_item">-->
                            <!--<input type="radio" name="check" id="bytime" (change)="by_time=true">-->
                            <!--<label for="bytime"></label>-->
                            <!--<div  class="order-container_wrapper_form_group_item_pay-by-points_check_text">-->
                                <!--К определенному времени-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
                <div class="order-container_wrapper_form_group_item"><!-- *ngIf="by_time"-->
                    <div class="order-container_wrapper_form_group_item_label">Время доставки</div>
                    <div class="order-container_wrapper_form_group_item_input">
                        <div class="order-container_wrapper_form_group_item_input_day">
                            <select id='day' [(ngModel)]="day" [ngModelOptions]="{standalone: true}" name="day" (change)="SelectTime(day)" class="order-container_wrapper_form_group_item_input_day_select">
                                <option value="day">Ближайшее</option>
                                <option value="today">Сегодня</option>
                                <option value="yesterday">Завтра</option>
                            </select>
                            <div class="order-container_wrapper_form_group_item_input_arrow">&rsaquo;</div>
                        </div>
                        <div class="order-container_wrapper_form_group_item_input_hour">
                            <select id='hour' [(ngModel)]="hour" [ngModelOptions]="{standalone: true}" [class.disable]="disable_time" class="order-container_wrapper_form_group_item_input_hour_select">
                                <option value="0">ч</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                            </select>
                            <div class="order-container_wrapper_form_group_item_input_arrow">&rsaquo;</div>
                        </div>
                        <div class="order-container_wrapper_form_group_item_input_minute">
                            <select id='minute' [(ngModel)]="minute" [ngModelOptions]="{standalone: true}" [class.disable]="disable_time" class="order-container_wrapper_form_group_item_input_minute_select">
                                <option value="0">м</option>
                                <option value="00">00</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                            </select>
                            <div class="order-container_wrapper_form_group_item_input_arrow">&rsaquo;</div>
                        </div>
                    </div>
                </div>
                <div class="order-container_wrapper_form_group_item">
                    <div class="order-container_wrapper_form_group_item_label">Количество человек</div>
                    <div class="order-container_wrapper_form_group_item_input">
                        <div class="order-container_wrapper_form_group_item_input_people">
                            <div class="order-container_wrapper_form_group_item_input_people_button" (click)="removePerson()">-</div>
                            <input type="text" value="{{person_count}}">
                            <div class="order-container_wrapper_form_group_item_input_people_button" (click)="addPerson()">+</div>
                        </div>
                    </div>

                </div>
            </div>
            <!--<div class="order-container_wrapper_form_group adresses">-->
                <!--<app-order-delivery *ngIf="type_delivery['delivery']" [_parent]="this"></app-order-delivery>-->
                <!--&lt;!&ndash;<app-selfdelivery *ngIf="type_delivery['selfdelivery']"></app-selfdelivery>&ndash;&gt;-->
            <!--</div>-->
            <div  class="order-container_wrapper_form_group"><!--*ngIf="orderFormService.add_new_adress"-->
                <form [formGroup]="form_adresses" >
                    <form formGroupName="form_client">
                    <div class="order-container_wrapper_form_group_item">
                        <div class="order-container_wrapper_form_group_item_label">Имя</div>
                        <div class="order-container_wrapper_form_group_item_input" [class.error]="error['FirstName']">
                            <input type="text" formControlName="FirstName" placeholder="Введите имя" required/>
                        </div>

                    </div>
                        <div *ngIf="FirstName.errors && (FirstName.dirty || FirstName.touched)&&PhoneNumber.invalid&& FirstName.errors.required||error['FirstName']" class="error_text">Заполните поле!</div>
                    <div class="order-container_wrapper_form_group_item">
                        <div class="order-container_wrapper_form_group_item_label">Email</div>
                        <div class="order-container_wrapper_form_group_item_input" [class.error]="error['Email']">
                            <input type="text" formControlName="Email" placeholder="Введите Email" required/>
                        </div>

                    </div>
                        <div *ngIf="Email.errors && (Email.dirty || Email.touched)&&Email.invalid&& Email.errors.email||error['Email']" class="error_text">Заполните поле!</div>
                    <div class="order-container_wrapper_form_group_item">
                        <div class="order-container_wrapper_form_group_item_label">Телефон</div>
                        <div class="order-container_wrapper_form_group_item_input" [class.error]="error['PhoneNumber']">
                            <input type="text" formControlName="PhoneNumber" placeholder="+7 10 3495 3476"  mask="+7 00 0000 0000" required/>
                        </div>

                    </div>
                        <div *ngIf="PhoneNumber.errors && (PhoneNumber.dirty || PhoneNumber.touched)&&PhoneNumber.invalid&& PhoneNumber.errors.required||error['PhoneNumber']" class="error_text">Заполните поле!</div>
                    </form>
                <div class="order-container_wrapper_form_group_item">
                    <div class="order-container_wrapper_form_group_item_label">Улица</div>
                    <div class="order-container_wrapper_form_group_item_input address">
                        <input list="adresses" id="address" type="text" [(ngModel)]="street" [ngModelOptions]="{standalone: true}" (keypress)="GetStreetsId(street)" placeholder="Введите адрес или выберите на карте">
                        <datalist id="adresses">
                            <select *ngIf="adresses_arr.length!=0">
                                <option *ngFor="let item of adresses_arr" id="{{item.Id}}">{{item.Name}}</option>
                            </select>
                        </datalist>
                    </div>

                </div>
                    <div *ngIf="StreetId.errors && (StreetId.dirty || StreetId.touched)&&StreetId.invalid&& StreetId.errors.required||error['StreetId']" class="error_text">Заполните поле!</div>
                <div class="order-container_wrapper_form_group_item_building-group">
                    <div class="order-container_wrapper_form_group_item_building-group_item">
                        <div class="order-container_wrapper_form_group_item">
                            <div class="order-container_wrapper_form_group_item_label">Номер дома</div>
                            <div class="order-container_wrapper_form_group_item_input">
                                <input id="number_building" formControlName="Building" type="text" placeholder="Номер">
                            </div>
                        </div>
                        <div *ngIf="Building.errors && (Building.dirty || Building.touched)&&Building.invalid&& Building.errors.required||error['Building']" class="error_text">Заполните поле!</div>
                        <div class="order-container_wrapper_form_group_item">
                            <div class="order-container_wrapper_form_group_item_label">Корпус</div>
                            <div class="order-container_wrapper_form_group_item_input">
                                <input id="building_appartment" formControlName="BuildingAppartment" type="text" placeholder="Номер">
                            </div>
                        </div>
                        <div class="order-container_wrapper_form_group_item">
                            <div class="order-container_wrapper_form_group_item_label">Подъезд</div>
                            <div class="order-container_wrapper_form_group_item_input">
                                <input type="text" id="entrance" formControlName="Entry" placeholder="Номер">
                            </div>
                        </div>
                        <div class="order-container_wrapper_form_group_item">
                            <div class="order-container_wrapper_form_group_item_label">Код домофона</div>
                            <div class="order-container_wrapper_form_group_item_input">
                                <input id="doorphone_code" formControlName="EntryCode" type="text" placeholder="Номер">
                            </div>
                        </div>
                    </div>
                    <div class="order-container_wrapper_form_group_item_building-group_item">
                        <div class="order-container_wrapper_form_group_item">
                            <div class="order-container_wrapper_form_group_item_label">Строение</div>
                            <div class="order-container_wrapper_form_group_item_input">
                                <input id="building" formControlName="BuildingNumber" type="text" placeholder="Номер">
                            </div>
                        </div>
                        <div class="order-container_wrapper_form_group_item">
                            <div class="order-container_wrapper_form_group_item_label">Квартира/Офис</div>
                            <div class="order-container_wrapper_form_group_item_input">
                                <input id="apartment" type="text" formControlName="Appartaments" placeholder="Номер">
                            </div>
                        </div>

                        <div class="order-container_wrapper_form_group_item">
                            <div class="order-container_wrapper_form_group_item_label">Этаж</div>
                            <div class="order-container_wrapper_form_group_item_input">
                                <input id="floor" formControlName="Floor" type="text" placeholder="Номер">
                            </div>
                        </div>

                    </div>
                </div>
                    <!--<div style="width: 100%;display: flex;">-->
                        <!--<button type="submit" class="form_add_address" (click)="orderFormService.add_new_adress=false">Не добавлять</button>-->
                        <!--<button type="submit" class="form_add_address" (click)="AddAdress()">Добавить адрес</button>-->
                    <!--</div>-->
                </form>
            </div>
            <div class="order-container_wrapper_form_group">
                <div class="order-container_wrapper_form_group_item">
                    <div class="order-container_wrapper_form_group_item_payment-title">Выберите способ оплаты</div>
                </div>
                <div class="order-container_wrapper_form_group_item">
                    <div class="order-container_wrapper_form_group_item_payments">
                        <div *ngIf="!type_delivery['selfdelivery']" (click)="choosePay('cash')" [class.active]="active_pay['cash']" class="order-container_wrapper_form_group_item_payments_item">
                            <div class="order-container_wrapper_form_group_item_payments_item_text">
                                Наличными<pre></pre>  курьеру
                            </div>
                        </div>
                        <div *ngIf="!type_delivery['selfdelivery']" (click)="choosePay('card')" [class.active]="active_pay['card']" class="order-container_wrapper_form_group_item_payments_item">
                            <div class="order-container_wrapper_form_group_item_payments_item_text">
                                Картой<pre></pre> курьеру
                            </div>
                        </div>
                        <div class="order-container_wrapper_form_group_item_payments_item" style="margin-left: 10px">
                            <div class="order-container_wrapper_form_group_item_payments_item_visa"></div>
                            <div class="order-container_wrapper_form_group_item_payments_item_mcard"></div>
                        </div>
                    </div>
                </div>
                <!--<div class="order-container_wrapper_form_group_item " [class.active-item]="checked">-->
                    <!--<div class="order-container_wrapper_form_group_item_pay-by-points">-->
                        <!--<div class="order-container_wrapper_form_group_item_pay-by-points_check">-->
                            <!--<input type="checkbox" (change)="selectCheckbox($event)" id="chbox">-->
                            <!--<label for="chbox"></label>-->
                            <!--<div  class="order-container_wrapper_form_group_item_pay-by-points_check_text">-->
                                <!--Оплатить заказ баллами? На счету <span>1404 баллов</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div *ngIf="checked" class="order-container_wrapper_form_group_item_pay-by-points_block">-->
                            <!--<div class="order-container_wrapper_form_group_item">-->
                                <!--<div class="order-container_wrapper_form_group_item_label">Списать</div>-->
                                <!--<div class="order-container_wrapper_form_group_item_input">-->
                                    <!--<input type="text" value="1404">-->
                                <!--</div>-->
                                <!--<div class="order-container_wrapper_form_group_item_postfix">Балла</div>-->
                            <!--</div>-->
                            <!--<div class="order-container_wrapper_form_group_item">-->
                                <!--<div class="order-container_wrapper_form_group_item_label">и доплатить</div>-->
                                <!--<div class="order-container_wrapper_form_group_item_input">-->
                                    <!--<input type="text" value="900">-->
                                <!--</div>-->
                                <!--<div class="order-container_wrapper_form_group_item_postfix">&#x20bd;</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="order-container_wrapper_form_group">
                <div class="order-container_wrapper_form_group_change_wrapper">
                    <label for="change">Сдача с</label>
                    <input type="number" id="change" [(ngModel)]="change" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="order-container_wrapper_form_group">
                <div class="order-container_wrapper_form_group_item">
                    <div class="order-container_wrapper_form_group_item_label">Комментарий к заказу</div>
                    <div class="order-container_wrapper_form_group_item_input">
                        <textarea [(ngModel)]="comment" [ngModelOptions]="{standalone: true}" placeholder="Не обязательно"></textarea>
                    </div>
                </div>
            </div>
            <div class="order-container_wrapper_form_total">
                <div class="order-container_wrapper_form_total_sum">
                    <div class="order-container_wrapper_form_total_sum_title">Общая сумма</div>
                    <div class="order-container_wrapper_form_total_sum_items">
                        <!--<div class="order-container_wrapper_form_total_sum_items_all">-->
                            <!--<span class="sum">1200</span>-->
                            <!--<span class="currency">&#x20bd;</span>-->
                        <!--</div>-->
                        <div class="order-container_wrapper_form_total_sum_items_cash">
                            <span class="sum">{{orderService.total_price}}</span>
                            <span class="currency">&#x20bd;</span>
                        </div>
                        <!--<div class="order-container_wrapper_form_total_sum_items_points"> + 704 баллов</div>-->
                    </div>
                </div>
                <div class="order-container_wrapper_form_total_submit" (click)="sendOrder()">
                    Заказать
                </div>
            </div>
        </form>

        <div *ngIf="make_order_success" class="order-container_wrapper_success">
            <div class="order-container_wrapper_success_icon"></div>
            <div class="order-container_wrapper_success_title">Заявка отправлена</div>
            <div class="order-container_wrapper_success_text">В ближайшее время с вами свяжется наш менеджер
                для подтверждения заказа</div>
        </div>
    </div>
</div>
